@media screen and (max-width: 1024px) {
  /* about caffe */
  .about-caffe-wrap .mbox {
    max-width: 888px;
    width: 100%;
  }
  .about-caffe-wrap .mbox .about-caffe p {
    font-size: 13px;
    word-spacing: -1px;
    line-height: 1.7;
    margin-bottom: 40px;
  }
  .about-caffe-wrap .mbox .about-caffe p span {
    display: inline;
    word-spacing: -1px;
  }
  .about-caffe-wrap .mbox .about-caffe .text-justify {
    line-height: 1.9;
    word-spacing: -1px;
    margin-bottom: 63px;
  }
  .about-caffe-wrap .mbox .about-caffe .text-justify span {
    text-align: center;
  }
  .about-caffe-wrap .mbox .about-caffe .differend-font {
    font-size: 27px;
  }
  .about-caffe-wrap .mbox .about-caffe .differend-font span {
    font-size: 37.5px;
  }
  /* /about caffe */
  /* actions */
  .action-content-wrap .mbox {
    width: 100%;
    max-width: 888px;
  }
  .action-content-wrap .mbox .action-block {
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    float: left;
    position: relative;
    margin-bottom: 20px;
  }
  .action-content-wrap .mbox .action-block.action1 {
    float: left;
  }
  .action-content-wrap .mbox .action-block.action2 {
    float: right;
  }
  .action-content-wrap .mbox .action-block.action3 {
    width: 100%;
  }
  .action-content-wrap .mbox .action-block img {
    max-width: 100%;
  }
  /* /actions */
  /* catalog-nav */
  .catalog-nav-wrap {
    display: none;
  }
  /* /catalog-nav */
  .add-to-cart {
    opacity: 1 !important;
  }
}

@media screen and (max-width: 992px) {
  .about-caffe-wrap .mbox {
    max-width: 100%;
    padding: 0px 20px;
  }
  .action-content-wrap .mbox {
    max-width: 100%;
  }
  .action-content-wrap .mbox .action-block {
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 768px) {
  .catalog-content .catalog-item {
    width: -webkit-calc(50% - 1px);
    width: -moz-calc(50% - 1px);
    width: calc(50% - 1px);
    margin-bottom: 20px;
    margin-right: 0;
  }
  .catalog-content .catalog-item.large-item {
    width: -webkit-calc(100%);
    width: -moz-calc(100%);
    width: calc(100%);
  }
  .catalog-content .catalog-item.action-item .catalog-item-text div {
    width: 87%;
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .action-text {
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2;
    position: absolute;
    padding: 0;
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .action-text p {
    color: #fff;
    font-family: 'Merel';
    font-size: 13px;
  }
  .catalog-content .catalog-item.action-item .add-to-cart {
    bottom: 25%;
    position: absolute;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-28%);
    -moz-transform: translateX(-28%);
    -ms-transform: translateX(-28%);
    -o-transform: translateX(-28%);
    transform: translateX(-28%);
  }
  .catalog-content .catalog-item .catalog-item-img .catalog-item-img-wrap .loop img {
    display: block;
    margin: 0 auto;
    max-width: 97%;
  }
}

@media screen and (max-width: 666px) {
  .catalog-item-text div {
    width: 100% !important;
  }
}

@media screen and (max-width: 479px) {
  .action-block {
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
  }
  .catalog-content .catalog-item {
    width: -webkit-calc(100% - 1px);
    width: -moz-calc(100% - 1px);
    width: calc(100% - 1px);
  }
  .load-more-items .load-more-wrap:before, .load-more-items .load-more-wrap:after {
    width: 40% !important;
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .action-text {
    bottom: 85px;
  }
  .catalog-content .catalog-item.action-item {
    padding-bottom: 80px !important;
  }
  .catalog-content .catalog-item.action-item .add-to-cart {
    bottom: 8%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 320px) {
  .catalog-content .catalog-item {
    width: -webkit-calc(100% - 1px);
    width: -moz-calc(100% - 1px);
    width: calc(100% - 1px);
  }
  .catalog-content .catalog-item.action-item {
    padding-bottom: 80px !important;
  }
  .load-more-items .load-more-wrap:before, .load-more-items .load-more-wrap:after {
    width: 35% !important;
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-desc p {
    font-size: 10px;
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-price p {
    font-size: 10px;
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-price p b {
    font-size: 12px;
  }
  .catalog-content .catalog-item.action-item .add-to-cart {
    bottom: 8%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .action-text {
    bottom: 85px;
  }
}

/* /catalog-content */
