/* variables */
/* /variables */
@media screen and (max-width: 1024px) {
  .look_and_buy {
    font-size: 11px;
    width: 160px;
    padding: 15px 0px;
    line-height: 12px;
  }
  .look_and_buy span {
    line-height: 12px;
  }
  .red_circle {
    text-align: center;
  }
  .red_circle .red_circle_wrap {
    display: inline-block;
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #d10019;
    margin-top: -24px;
    border: 2px solid white;
  }
  .red_circle .red_circle_wrap span {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 300;
    display: block;
    padding-top: 13px;
  }
  /*masonry index page*/
  .massonry .massonry_wrap {
    padding-bottom: 34px;
    padding-top: 32px;
  }
  .massonry .massonry_item_sizer {
    width: 25%;
  }
  .massonry .massonry_item {
    float: left;
    width: 25%;
    margin-bottom: 10px;
    position: relative;
    padding-right: 14px;
  }
  .massonry .massonry_item.item_1 {
    width: 50%;
    height: 217px;
  }
  .massonry .massonry_item.item_2 {
    width: 50%;
    height: 290px;
    position: relative;
    margin-bottom: 17px;
  }
  .massonry .massonry_item.item_3 {
    width: 25%;
  }
  .massonry .massonry_item.item_4 {
    width: 25%;
  }
  .massonry .massonry_item.item_5 {
    width: 50%;
    height: 225px;
  }
  .massonry .massonry_item.item_6 {
    width: 25%;
  }
  .massonry .massonry_item.item_7 {
    width: 50%;
    overflow: hidden;
  }
  .massonry .massonry_item.item_7 .massonry_item_img img {
    padding-right: 0px;
  }
  .massonry .massonry_item.item_8 {
    overflow: inherit;
  }
  .massonry .massonry_item.item_8 .massonry_item_img img {
    padding-right: 0px;
    max-width: 98%;
  }
  .massonry .massonry_item_img .img-centered-text {
    font-size: 31px;
    line-height: 29px;
    padding-top: 36px;
  }
  .massonry .massonry_item_img.img-centered img {
    width: 48%;
  }
  .massonry .massonry_item_text_descnotsample {
    text-align: center;
    font-size: 13px;
    padding: 0 4%;
    padding-top: 16px;
    padding-bottom: 27px;
    line-height: 17px;
  }
  .massonry .massonry_item_text .look_and_buy {
    margin-top: 0;
  }
  .massonry .massonry_item_text .massonry_item_mini_text {
    font-size: 11px;
    bottom: 5.3%;
  }
  .massonry .massonry_item_text .massonry_item_rotate_text {
    top: 37px;
    right: -17px;
    font-size: 10px;
  }
  .massonry .massonry_item_text_desc {
    font-size: 12px;
    padding-top: 5px;
  }
  .massonry .massonry_item_text_subdesc {
    font-size: 15px;
  }
  .massonry .massonry_item_text_subdesc span {
    font-size: 12px;
  }
  .massonry .massonry_item_img img {
    padding-right: 0;
  }
  /*popap*/
  .catalog_pop_wrap .catalog_pop_table {
    width: 100%;
  }
  .popupCatalog {
    max-width: 960px !important;
    width: 100% !important;
    height: 100% !important;
    max-height: 767px !important;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .popupCatalog .fancybox-skin, .popupCatalog .fancybox-outer {
    height: 100% !important;
  }
  .popupCatalog .fancybox-inner, .popupCatalog .catalog_pop_wrap, .popupCatalog .catalog_pop_table {
    width: 100% !important;
    height: 100% !important;
  }
  .popupCatalog #catalog_pop {
    height: 100% !important;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_cell.right, .popupCatalog .catalog_pop_wrap .catalog_pop_cell.left {
    width: 49%;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_cell.right {
    vertical-align: top;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_title {
    padding-top: 52px;
    font-size: 18px;
    letter-spacing: 2px;
    padding-bottom: 37px;
  }
  .popupCatalog .catalog_pop_subtitle {
    padding-bottom: 104px;
  }
  .popupCatalog .catalog_pop_price {
    font-size: 36px;
  }
  .popupCatalog .catalog_pop_price span {
    font-size: 24px;
  }
  .popupCatalog .catalog_pop_button {
    padding: 50px 5% 0;
  }
  .popupCatalog .catalog_pop_button a {
    max-width: 251px !important;
    height: 66px !important;
    line-height: 60px !important;
    margin-bottom: 30px !important;
  }
  .catalog_pop_wrap {
    min-width: auto;
  }
  .fancybox-close {
    top: 11px;
    right: 11px;
  }
  .catalog_pop_wrap .catalog_pop_mas {
    top: 80px;
    left: 151px;
  }
  .catalog_pop_wrap .catalog_pop_kkal {
    top: 82px;
    left: 252px;
  }
  .catalog_pop_wrap .catalog_pop_img {
    padding-top: 33px;
  }
}

@media screen and (max-width: 992px) {
  /*popap*/
  .popupCatalog {
    max-width: 768px !important;
    max-height: 960px !important;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_table {
    display: block;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_cell.right, .popupCatalog .catalog_pop_wrap .catalog_pop_cell.left {
    width: 100%;
    height: 55%;
    display: block;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_cell.right {
    height: 45%;
    padding: 40px 10px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_img {
    padding-top: 88px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_mas {
    top: 238px;
    left: 67px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_kkal {
    top: 238px;
    left: auto;
    right: 68px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_title {
    padding-top: 0;
    padding-bottom: 23px;
  }
  .popupCatalog .catalog_pop_subtitle {
    padding-bottom: 18px;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_price {
    padding-bottom: 18px;
  }
  .popupCatalog .catalog_pop_button {
    padding: 50px 5% 0;
  }
  .popupCatalog .catalog_pop_button:after {
    display: block;
    clear: both;
    content: '';
  }
  .popupCatalog .catalog_pop_button .catalog_pop_close {
    float: left;
  }
  .popupCatalog .catalog_pop_button .button {
    float: right;
  }
  .popupCatalog .catalog_pop_button a {
    margin: 0 10px;
  }
  .popupCatalog .fancybox-close:before, .popupCatalog .fancybox-close:after {
    background-color: #8a908f;
  }
}

@media screen and (max-width: 959px) {
  /*masonry index page*/
  .massonry .massonry_wrap {
    padding-bottom: 41px;
    padding-top: 23px;
  }
  .massonry .massonry_item {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    padding-right: 0px;
    margin: 0 auto;
  }
  .massonry .massonry_item.item_1 {
    width: 72%;
    height: 249px;
  }
  .massonry .massonry_item.item_2 {
    width: 69%;
    height: auto;
    position: relative;
    padding-top: 42px;
  }
  .massonry .massonry_item.item_3, .massonry .massonry_item.item_4, .massonry .massonry_item.item_6, .massonry .massonry_item.item_8 {
    display: none;
  }
  .massonry .massonry_item.item_5 {
    width: 68%;
    height: auto;
    padding-top: 48px;
  }
  .massonry .massonry_item.item_7 {
    width: 60%;
    padding-top: 37px;
  }
  .massonry .massonry_item .massonry_item_text_desc {
    padding-top: 8px;
  }
  .massonry .massonry_item .massonry_item_rotate_text {
    display: none;
  }
  .massonry .massonry_item .massonry_item_text_descnotsample {
    padding: 0;
  }
  .massonry .massonry_item .massonry_item_text .massonry_item_mini_text {
    position: relative;
    top: 0;
    padding-top: 28px;
  }
  .massonry .massonry_item_img.img-centered img {
    width: 43%;
  }
  .massonry .massonry_item_text_descnotsample {
    max-width: 100%;
    margin-top: 13px;
    margin-bottom: 39px;
  }
  .massonry .massonry_item_text_descnotsample {
    font-size: 12px;
  }
  .massonry .massonry_item_img img {
    padding-right: 0;
  }
}

@media screen and (max-width: 666px) {
  /*masonry index page*/
  .massonry .massonry_wrap {
    padding-bottom: 30px;
    padding-top: 25px;
  }
  .massonry .massonry_item_sizer {
    width: 100%;
  }
  .massonry .massonry_item {
    float: none;
    width: 25%;
    margin-bottom: 10px;
    position: relative;
    padding-right: 0px;
  }
  .massonry .massonry_item.item_1 {
    width: 100%;
    height: auto;
  }
  .massonry .massonry_item.item_2 {
    width: 100%;
    height: auto;
    position: relative;
  }
  .massonry .massonry_item.item_3 {
    width: 100%;
  }
  .massonry .massonry_item.item_4 {
    width: 100%;
  }
  .massonry .massonry_item.item_5 {
    width: 100%;
    height: auto;
  }
  .massonry .massonry_item.item_6 {
    width: 100%;
  }
  .massonry .massonry_item.item_7 {
    width: 100%;
  }
  .massonry .massonry_item .massonry_item_img {
    text-align: center;
  }
  .massonry .massonry_item .massonry_item_img img {
    display: inline-block;
  }
  .massonry .massonry_item .massonry_item_text {
    padding-bottom: 33px;
  }
  .massonry .massonry_item.item_8 {
    width: 100%;
  }
  /*catalog pop*/
  .catalog_pop_wrap .catalog_pop_cell {
    display: block;
    width: 100%;
  }
  .catalog_pop_wrap .catalog_pop_subtitle {
    padding-bottom: 19px;
  }
  .catalog_pop_wrap .catalog_pop_cell.right {
    padding: 19px 10px;
  }
  .catalog_pop_wrap .catalog_pop_price {
    padding-bottom: 30px;
  }
  .catalog_pop_wrap .catalog_pop_img {
    padding: 10px 0px;
  }
  .catalog_pop_wrap .catalog_pop_mas {
    top: 15px;
    left: 15px;
  }
  .catalog_pop_wrap .catalog_pop_kkal {
    top: 100px;
    left: 15px;
  }
}

@media screen and (max-width: 479px) {
  /*popap*/
  .popupCatalog {
    max-width: 320px !important;
    max-height: 623px !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_img img {
    max-width: 45%;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_img {
    padding-top: 32px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_cell.left {
    height: 39%;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_cell.right {
    height: 61%;
    padding: 7px 5px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_mas {
    top: 99px;
    left: 5px;
    height: 43px;
    width: 43px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_mas p, .popupCatalog .catalog_pop_wrap .catalog_pop_kkal p {
    font-size: 11px;
    padding-top: 12px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_kkal {
    height: 43px;
    width: 43px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_kkal p {
    padding-top: 0;
    line-height: 11px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_kkal {
    top: 99px;
    right: 20px;
    padding-top: 7px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_title {
    font-size: 14px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_title {
    padding-bottom: 10px;
  }
  .popupCatalog .catalog_pop_wrap .catalog_pop_subtitle {
    letter-spacing: 0px;
    font-size: 12px;
    padding-bottom: 15px;
    line-height: 18px;
  }
  .popupCatalog .catalog_pop_button {
    padding: 16px 9% 0;
  }
  .popupCatalog .catalog_pop_button a {
    margin-bottom: 22px !important;
  }
  /*masonry index page*/
  .massonry .mbox {
    padding: 0;
  }
  .massonry .massonry_wrap {
    padding-bottom: 13px;
  }
  .massonry .massonry_item {
    width: 100%;
    position: relative;
    margin: 0 auto 10px;
  }
  .massonry .massonry_item .massonry_item_img {
    min-height: 120px;
  }
  .massonry .massonry_item .massonry_item_img img {
    max-width: 123%;
  }
  .massonry .massonry_item.item_1 {
    width: 92%;
    height: auto;
  }
  .massonry .massonry_item.item_1 .massonry_item_text {
    padding-bottom: 10px;
  }
  .massonry .massonry_item.item_2 {
    width: 92%;
    padding-top: 0px;
  }
  .massonry .massonry_item.item_2 .massonry_item_img {
    min-height: 105px;
  }
  .massonry .massonry_item.item_2 .massonry_item_text {
    padding-bottom: 17px;
  }
  .massonry .massonry_item.item_5 {
    width: 92%;
    padding-top: 0px;
    margin-bottom: 25px;
  }
  .massonry .massonry_item.item_5 .massonry_item_img {
    min-height: 119px;
  }
  .massonry .massonry_item.item_5 .massonry_item_img img {
    max-width: 117%;
  }
  .massonry .massonry_item.item_7 {
    width: 92%;
    padding-top: 0px;
  }
  .massonry .massonry_item.item_7 .massonry_item_img {
    min-height: 119px;
  }
  .massonry .massonry_item.item_7 .massonry_item_img img {
    max-width: 107%;
  }
  .massonry .massonry_item .massonry_item_text_desc {
    padding-top: 8px;
  }
  .massonry .massonry_item .massonry_item_rotate_text {
    display: none;
  }
  .massonry .massonry_item .massonry_item_text_descnotsample {
    padding: 0 4px;
    margin-bottom: 28px;
  }
  .massonry .massonry_item .massonry_item_text .massonry_item_mini_text {
    position: relative;
    top: 0;
    padding-top: 26px;
  }
  .massonry .massonry_item_img.img-centered img {
    width: 75%;
  }
}
