/* variables */
/* /variables */
@media screen and (max-width: 1024px) {
  .look_and_buy {
    font-size: 11px;
    width: 160px;
    padding: 15px 0px;
    line-height: 12px;
  }
  .look_and_buy span {
    line-height: 12px;
  }
  .red_circle {
    text-align: center;
  }
  .red_circle .red_circle_wrap {
    display: inline-block;
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #d10019;
    margin-top: -24px;
    border: 2px solid white;
  }
  .red_circle .red_circle_wrap span {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 300;
    display: block;
    padding-top: 13px;
  }
  /*masonry index page*/
  .massonry .massonry_wrap {
    padding-bottom: 30px;
    padding-top: 25px;
  }
  .massonry .massonry_item_sizer {
    width: 25%;
  }
  .massonry .massonry_item {
    float: left;
    width: 25%;
    margin-bottom: 10px;
    position: relative;
    padding-right: 10px;
  }
  .massonry .massonry_item.item_1 {
    width: 50%;
    height: 217px;
  }
  .massonry .massonry_item.item_2 {
    width: 50%;
    height: 290px;
    position: relative;
  }
  .massonry .massonry_item.item_3 {
    width: 25%;
  }
  .massonry .massonry_item.item_4 {
    width: 25%;
  }
  .massonry .massonry_item.item_5 {
    width: 50%;
    height: 225px;
  }
  .massonry .massonry_item.item_6 {
    width: 25%;
  }
  .massonry .massonry_item.item_7 {
    width: 50%;
  }
  .massonry .massonry_item_img .img-centered-text {
    font-size: 31px;
    line-height: 29px;
    padding-top: 36px;
  }
  .massonry .massonry_item_img.img-centered img {
    width: 20%;
  }
  .massonry .massonry_item_text_descnotsample {
    text-align: center;
    font-size: 13px;
    padding: 0 4%;
    padding-top: 13px;
    padding-bottom: 23px;
  }
  .massonry .massonry_item_text .look_and_buy {
    margin-top: 0;
  }
  .massonry .massonry_item_text .massonry_item_mini_text {
    font-size: 11px;
    bottom: 4%;
  }
  .massonry .massonry_item_text .massonry_item_rotate_text {
    top: 43px;
    right: -48px;
    font-size: 11px;
  }
  .massonry .massonry_item_text_desc {
    font-size: 12px;
    padding-top: 11px;
  }
  .massonry .massonry_item_text_subdesc {
    font-size: 15px;
  }
  .massonry .massonry_item_text_subdesc span {
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  /*masonry index page*/
  .massonry .massonry_item {
    float: left;
    width: 25%;
    margin-bottom: 10px;
    position: relative;
    padding-right: 10px;
  }
  .massonry .massonry_item.item_1 {
    width: 50%;
    height: 190px;
  }
  .massonry .massonry_item.item_2 {
    width: 50%;
    height: 253px;
    position: relative;
  }
  .massonry .massonry_item.item_5 {
    width: 50%;
    height: 190px;
  }
  .massonry .massonry_item_text_descnotsample {
    font-size: 12px;
  }
}

@media screen and (max-width: 666px) {
  /*masonry index page*/
  .massonry .massonry_wrap {
    padding-bottom: 30px;
    padding-top: 25px;
  }
  .massonry .massonry_item_sizer {
    width: 100%;
  }
  .massonry .massonry_item {
    float: none;
    width: 25%;
    margin-bottom: 10px;
    position: relative;
    padding-right: 0px;
  }
  .massonry .massonry_item.item_1 {
    width: 100%;
    height: auto;
  }
  .massonry .massonry_item.item_2 {
    width: 100%;
    height: auto;
    position: relative;
  }
  .massonry .massonry_item.item_3 {
    width: 100%;
  }
  .massonry .massonry_item.item_4 {
    width: 100%;
  }
  .massonry .massonry_item.item_5 {
    width: 100%;
    height: auto;
  }
  .massonry .massonry_item.item_6 {
    width: 100%;
  }
  .massonry .massonry_item.item_7 {
    width: 100%;
  }
  .massonry .massonry_item .massonry_item_img {
    text-align: center;
  }
  .massonry .massonry_item .massonry_item_img img {
    display: inline-block;
  }
  .massonry .massonry_item .massonry_item_text {
    padding-bottom: 33px;
  }
  .massonry .massonry_item.item_8 {
    width: 100%;
  }
  /*catalog pop*/
  .catalog_pop_wrap .catalog_pop_cell {
    display: block;
    width: 100%;
  }
  .catalog_pop_wrap .catalog_pop_subtitle {
    padding-bottom: 19px;
  }
  .catalog_pop_wrap .catalog_pop_cell.right {
    padding: 19px 10px;
  }
  .catalog_pop_wrap .catalog_pop_price {
    padding-bottom: 30px;
  }
  .catalog_pop_wrap .catalog_pop_img {
    padding: 10px 0px;
  }
  .catalog_pop_wrap .catalog_pop_mas {
    top: 15px;
    left: 15px;
  }
  .catalog_pop_wrap .catalog_pop_kkal {
    top: 100px;
    left: 15px;
  }
}

@media screen and (max-width: 320px) {
  /*catalog pop*/
  .catalog_pop_wrap .catalog_pop_cell.right {
    padding: 14px 10px;
  }
  .catalog_pop_wrap .catalog_pop_title {
    padding-bottom: 12px;
  }
  .catalog_pop_wrap .catalog_pop_subtitle {
    padding-bottom: 14px;
    line-height: 18px;
  }
}
