@media screen and (max-width: 1280px) {
  /* header */
  .header-top > .mbox {
    padding: 0 10px;
  }
  .header-bottom .header-bottom-nav > ul > li > a {
    padding: 0 33px;
  }
  /* /header */
}

@media screen and (max-width: 1024px) {
  .mbox {
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
  }
  .main {
    padding-top: 72px;
  }
  /* header */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .header-telefone {
    display: none;
  }
  .header-logo {
    position: fixed;
    left: 0;
    top: 10px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    float: left;
    max-width: 176px;
    top: 17px;
    left: 5px;
    z-index: 5;
  }
  .header-logo.hide, .header-logo.hide-by-menu {
    display: none;
  }
  .header-top {
    padding: 8px 0 4px 0;
  }
  .header-top .mbox {
    padding: 0;
  }
  .header-basket-main {
    position: fixed;
    padding-top: 32px;
    margin-right: 0px;
    top: 0;
    right: 97px;
    -webkit-transition: right 300ms ease;
    -moz-transition: right 300ms ease;
    -o-transition: right 300ms ease;
    transition: right 300ms ease;
    z-index: 1;
  }
  .header-basket-main .header-basket-icon {
    z-index: 2;
  }
  .header-basket-main .header-basket-icon:before, .header-basket-main .header-basket-icon:after {
    content: '';
    position: absolute;
    height: 72px;
    width: 1px;
    background-color: #f2f2f2;
    top: -32px;
    -webkit-transition: left 300ms ease, right 300ms ease;
    -moz-transition: left 300ms ease, right 300ms ease;
    -o-transition: left 300ms ease, right 300ms ease;
    transition: left 300ms ease, right 300ms ease;
  }
  .header-basket-main .header-basket-icon:before {
    left: -23px;
  }
  .header-basket-main .header-basket-icon:after {
    right: -29px;
  }
  .header-basket-main .header-basket-icon .header-basket-value {
    width: 15px;
    height: 15px;
    left: -webkit-calc(100% + 3px);
    left: -moz-calc(100% + 3px);
    left: calc(100% + 3px);
    bottom: -webkit-calc(100% + 7px);
    bottom: -moz-calc(100% + 7px);
    bottom: calc(100% + 7px);
    font-size: 10px;
    line-height: 14px;
    background-color: #fff;
    color: #d10019;
    -webkit-transition: color 300ms ease, background-color 300ms ease;
    -moz-transition: color 300ms ease, background-color 300ms ease;
    -o-transition: color 300ms ease, background-color 300ms ease;
    transition: color 300ms ease, background-color 300ms ease;
  }
  .header-basket-main .header-basket-form {
    position: fixed;
    right: -405px;
    top: 0;
    display: block;
    margin-top: 0;
    height: 100%;
    width: 405px;
    -webkit-transition: right 300ms ease, -webkit-box-shadow 300ms ease;
    -moz-transition: right 300ms ease, -moz-box-shadow 300ms ease;
    -o-transition: right 300ms ease, box-shadow 300ms ease;
    transition: right 300ms ease, box-shadow 300ms ease;
    z-index: 1;
    padding-top: 94px;
    -webkit-box-shadow: 0 4px 30px 0 transparent;
    -moz-box-shadow: 0 4px 30px 0 transparent;
    box-shadow: 0 4px 30px 0 transparent;
  }
  .header-basket-main .header-basket-form.scroll {
    overflow-y: scroll;
  }
  .header-basket-main .header-basket-form:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    width: 100%;
    height: 72px;
    -webkit-box-shadow: 0 4px 30px 0 transparent;
    -moz-box-shadow: 0 4px 30px 0 transparent;
    box-shadow: 0 4px 30px 0 transparent;
    position: fixed;
    z-index: 2;
    -webkit-transition: -webkit-box-shadow 300ms ease;
    -moz-transition: -moz-box-shadow 300ms ease;
    -o-transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
    background-color: #fff;
  }
  .header-basket-main .header-basket-form .header-basket-form-row {
    padding-left: 24px;
    padding-right: 17px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .header-basket-main .header-basket-form .close-form {
    top: 90px;
  }
  .header-basket-main .header-basket-form .header-basket-submit-button {
    text-align: center;
  }
  .header-basket-main .header-basket-form .header-basket-submit-button button.button {
    max-width: 265px;
    height: 70px;
  }
  .header-basket-main.show {
    right: 363px;
  }
  .header-basket-main.show .header-basket-form {
    -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
  }
  .header-basket-main.show .header-basket-form:after {
    -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
    left: 0;
  }
  .header-basket-main.show .header-basket-icon:before {
    left: -21px;
  }
  .header-basket-main.show .header-basket-icon:after {
    right: -30px;
  }
  .header-basket-main.show .header-basket-icon .header-basket-value {
    color: #ffffff;
    background-color: #d10019;
  }
  .header-basket-main.show .header-basket-form {
    right: 0;
  }
  .sendwich-icon-wrap {
    display: block;
  }
  .header-bottom {
    display: block;
    background-color: #fff;
    border-top: 1px solid #ededed;
    position: fixed;
    right: -405px;
    width: 405px;
    -webkit-transition: right 300ms ease, -webkit-box-shadow 300ms;
    -moz-transition: right 300ms ease, -moz-box-shadow 300ms;
    -o-transition: right 300ms ease, box-shadow 300ms;
    transition: right 300ms ease, box-shadow 300ms;
    top: 0;
    height: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 4px 30px 0 transparent;
    -moz-box-shadow: 0 4px 30px 0 transparent;
    box-shadow: 0 4px 30px 0 transparent;
  }
  .header-bottom.show {
    overflow-y: scroll;
  }
  .header-bottom.show .header-bottom-nav:after {
    left: -webkit-calc(100% - 405px);
    left: -moz-calc(100% - 405px);
    left: calc(100% - 405px);
  }
  .header-bottom .mbox {
    max-width: none;
    padding: 0;
  }
  .header-bottom .header-bottom-nav {
    padding-top: 0;
    margin-top: 72px;
  }
  .header-bottom .header-bottom-nav:after {
    content: '';
    position: fixed;
    border-bottom: 1px solid #f5f7fa;
    top: 0;
    left: 100%;
    width: 100%;
    height: 72px;
    -webkit-box-shadow: 0 4px 30px 0 transparent;
    -moz-box-shadow: 0 4px 30px 0 transparent;
    box-shadow: 0 4px 30px 0 transparent;
    -webkit-transition: -webkit-box-shadow 300ms ease, left 300ms ease;
    -moz-transition: -moz-box-shadow 300ms ease, left 300ms ease;
    -o-transition: box-shadow 300ms ease, left 300ms ease;
    transition: box-shadow 300ms ease, left 300ms ease;
    background-color: #fff;
  }
  .header-bottom .header-bottom-nav > ul, .header-bottom .header-bottom-nav > ul > li, .header-bottom .header-bottom-nav .second-level-menu-row, .header-bottom .header-bottom-nav .second-level-menu-col {
    display: block !important;
    width: auto;
  }
  .header-bottom .header-bottom-nav > ul > li > a {
    color: #000;
    font-size: 14px;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    background-color: #fff;
    border-bottom: 1px solid #f5f7fa;
    text-align: left;
    padding-left: 25px;
    font-size: 14px;
    letter-spacing: 1.5px;
    min-height: 71px;
    display: table;
    width: 100%;
  }
  .header-bottom .header-bottom-nav > ul > li > a span {
    display: table-cell;
    vertical-align: middle;
  }
  .header-bottom .header-bottom-nav > ul > li > a:hover {
    background-color: #f5f7fa;
  }
  .header-bottom .header-bottom-nav .device-second-level {
    position: fixed;
    width: 405px;
    right: -405px;
    left: auto;
    top: 0;
    height: -webkit-calc(100% - 72px);
    height: -moz-calc(100% - 72px);
    height: calc(100% - 72px);
    overflow-y: scroll;
    display: block;
    top: 72px;
    padding: 0;
    -webkit-transition: right 300ms ease;
    -moz-transition: right 300ms ease;
    -o-transition: right 300ms ease;
    transition: right 300ms ease;
    background-color: #fff;
  }
  .header-bottom .header-bottom-nav .device-second-level.show {
    right: 0;
  }
  .header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col .second-level-title {
    margin-bottom: 0;
    padding-left: 25px;
    min-height: 71px;
    font-size: 14px;
    letter-spacing: 1.5px;
    display: block;
    border-bottom: 1px solid #f5f7fa;
    background-color: #fff;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    text-decoration: none;
    text-align: left;
    display: table;
    width: 100%;
  }
  .header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col .second-level-title span {
    display: table-cell;
    vertical-align: middle;
  }
  .header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col .second-level-title:hover {
    background-color: #f5f7fa;
    color: #000;
  }
  .header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col li {
    margin-bottom: 0;
  }
  .header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col li a {
    font-size: 14px;
    min-height: 71px;
    text-transform: uppercase;
    color: #000;
    padding-left: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
    display: block;
    border-bottom: 1px solid #f5f7fa;
    background-color: #fff;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    text-decoration: none;
    text-align: left;
    display: table;
    width: 100%;
  }
  .header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col li a span {
    display: table-cell;
    vertical-align: middle;
  }
  .header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col li a:hover {
    background-color: #f5f7fa;
    color: #000;
  }
  .header-bottom .second-level-img {
    display: none;
  }
  .header-bottom .second-level-menu {
    margin-right: 0;
  }
  .header-bottom.show {
    right: 0;
    -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
  }
  .header-bottom.show .header-bottom-nav:after {
    -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.18);
  }
  .header-bottom.show .sendwich-icon-wrap {
    right: 360px;
  }
  .header-bottom.show .sendwich-icon-wrap:after {
    background-color: #f2f2f2;
  }
  .sendwich-callback-button.show {
    display: block;
    position: fixed;
  }
  /* /header */
}

@media screen and (max-width: 959px) {
  /* header */
  .header-basket-main .header-basket-form, .header-bottom, .header-bottom .header-bottom-nav .device-second-level {
    width: 385px;
    right: -385px;
  }
  .header-bottom.show .sendwich-icon-wrap {
    right: 319px;
  }
  .header-basket-main.show {
    right: 344px;
  }
  .sendwich-callback-button {
    right: 115px;
  }
  .header-bottom.show .header-bottom-nav:after {
    left: -webkit-calc(100% - 385px);
    left: -moz-calc(100% - 385px);
    left: calc(100% - 385px);
  }
  /* /header */
}

@media screen and (max-width: 666px) {
  .main {
    padding-top: 48px;
  }
  /* header */
  .header-top {
    min-height: 36px;
  }
  .header-top .mbox {
    min-height: 36px;
  }
  .header-logo {
    width: 41.5%;
    top: 8px;
    left: 16px;
  }
  .header-basket-main {
    padding-top: 17px;
    right: 61px;
  }
  .header-basket-main .header-basket-icon:before, .header-basket-main .header-basket-icon:after {
    height: 48px;
    top: -17px;
  }
  .header-basket-main .header-basket-icon:before {
    left: -14px;
  }
  .header-basket-main .header-basket-icon:after {
    right: -15px;
  }
  .header-basket-main .header-basket-icon img {
    max-width: 90%;
  }
  .header-basket-main .header-basket-icon .header-basket-value {
    left: -webkit-calc(100% - 3px);
    left: -moz-calc(100% - 3px);
    left: calc(100% - 3px);
    bottom: -webkit-calc(100% - 2px);
    bottom: -moz-calc(100% - 2px);
    bottom: calc(100% - 2px);
  }
  .header-basket-main .header-basket-form {
    right: -80px;
    padding-top: 48px;
  }
  .header-basket-main .header-basket-form:after {
    height: 48px;
  }
  .header-basket-main .header-basket-form:before {
    display: none;
  }
  .header-basket-main .header-basket-form .close-form {
    top: 60px;
  }
  .header-basket-main .header-basket-form .form-title {
    padding-top: 12px;
    margin-bottom: 15px;
  }
  .header-basket-main .header-basket-form .header-basket-all-sum {
    padding-top: 2px;
    margin-bottom: 20px;
  }
  .header-basket-main .header-basket-form .header-basket-submit-button button.button {
    height: 48px;
    letter-spacing: 1.3px;
    max-width: 185px;
  }
  .sendwich-icon-wrap {
    width: 13px;
    height: 13px;
    padding: 20px 16px 15px 17px;
  }
  .sendwich-icon-wrap:after {
    height: 48px;
  }
  .sendwich-icon-wrap .sendwich-icon span {
    height: 2px;
  }
  .sendwich-icon-wrap .sendwich-icon span:before, .sendwich-icon-wrap .sendwich-icon span:after {
    height: 2px;
  }
  .sendwich-icon-wrap.active span:before {
    top: -6px;
  }
  .sendwich-icon-wrap.active span:after {
    bottom: -3px;
  }
  .header-bottom .header-bottom-nav {
    margin-top: 48px;
  }
  .header-bottom .header-bottom-nav > ul > li > a {
    font-size: 13px;
    min-height: 51px;
  }
  .header-bottom .header-bottom-nav .device-second-level {
    top: 48px;
    height: -webkit-calc(100% - 48px);
    height: -moz-calc(100% - 48px);
    height: calc(100% - 48px);
  }
  .header-bottom .header-bottom-nav:after {
    height: 48px;
  }
  .header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col {
    width: 100%;
    margin-bottom: 0;
  }
  .header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col .second-level-title {
    margin-bottom: 0;
    min-height: 51px;
    font-size: 13px;
  }
  .header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col li a {
    font-size: 13px;
    min-height: 51px;
  }
  .header-bottom.show .header-bottom-nav:after {
    left: -webkit-calc(100% - 273px);
    left: -moz-calc(100% - 273px);
    left: calc(100% - 273px);
  }
  .header-basket-main .header-basket-form, .header-bottom, .header-bottom .header-bottom-nav .device-second-level {
    width: 273px;
    right: -273px;
  }
  .header-bottom.show .sendwich-icon-wrap {
    right: 227px;
  }
  .header-basket-main.show {
    right: 231px;
  }
  .sendwich-callback-button {
    right: 51px;
    top: 14px;
    font-size: 11px;
  }
  /* header */
}
