.header-slider-wrap {
  max-width: 1500rem;
  margin: 0 auto;
}

.header-slider-wrap .header-slider-wrap-main {
  width: 100%;
  overflow: hidden;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content {
  position: relative;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .counter {
  font-size: 30rem;
  color: #ffffff;
  position: absolute;
  bottom: 56rem;
  right: 110rem;
  font-style: "Merel";
  font-weight: 900;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white {
  position: absolute;
  z-index: 2;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white h1 {
  font-size: 100rem;
  font-family: "PFDinTextCondPro", sans-serif;
  font-weight: 100;
  color: #2a2a2b;
  text-transform: uppercase;
  padding: 87rem 87rem 0rem 104rem;
  margin-bottom: 0rem;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white h1 span {
  font-weight: 300;
  color: #d10019;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white h2 {
  font-family: "Merel", sans-serif;
  font-size: 18rem;
  font-style: normal;
  color: #737478;
  padding: 0px 108rem 49rem 111rem;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white h3 {
  font-family: "Merel", sans-serif;
  font-size: 18rem;
  font-weight: 700;
  color: #737478;
  padding: 1rem 100rem 112rem 110rem;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white a {
  text-decoration: none;
  max-width: 230px;
  width: 16%;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white a .button-fast {
  border: 1rem solid #d10019;
  border-radius: 3rem;
  background-color: #d10019;
  color: #ffffff;
  text-transform: uppercase;
  font-style: "Merel";
  font-weight: 700;
  font-size: 12rem;
  padding: 23rem;
  display: inline-block;
  margin-left: 110rem;
  letter-spacing: 4rem;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white a:hover, .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white a:focus, .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white a:active {
  text-decoration: none;
  border: none;
  outline: none;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white img {
  width: 1500rem;
  height: 816rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  max-width: none;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black {
  position: absolute;
  z-index: 2;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black h1 {
  font-size: 150rem;
  font-family: "SavoyeLetPlain", sans-serif;
  font-weight: normal;
  color: #7b4537;
  padding: 37rem 87rem 0rem 104rem;
  margin-bottom: 0rem;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black h1 span {
  color: #ffffff;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black h2 {
  font-family: "Merel", sans-serif;
  font-size: 18rem;
  font-style: normal;
  color: #ffffff;
  padding: 0px 108rem 49rem 111rem;
  margin-top: 0rem;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black h3 {
  font-family: "Merel", sans-serif;
  font-size: 18rem;
  font-weight: 700;
  color: #ffffff;
  padding: 1rem 100rem 87rem 110rem;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black a {
  text-decoration: none;
  max-width: 230px;
  width: 16%;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black a .button-fast {
  border: 1rem solid #ffffff;
  border-radius: 3rem;
  background-color: none;
  color: #ffffff;
  text-transform: uppercase;
  font-style: "Merel";
  font-weight: 700;
  font-size: 12rem;
  padding: 23rem;
  display: inline-block;
  margin-left: 110rem;
  letter-spacing: 4rem;
  margin-left: 110rem;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black a:hover, .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black a:focus, .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black a:active {
  text-decoration: none;
  border: none;
  outline: none;
}

.header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black img {
  width: 1500rem;
  height: 816rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  max-width: none;
}

.header-slider-wrap .header-slider-wrap-main .slick-dots {
  position: absolute;
  margin-bottom: 50px;
  bottom: 17rem;
  right: 183px;
  text-align: center;
}

.header-slider-wrap .header-slider-wrap-main .slick-dots li {
  display: inline-block;
  margin-right: 13px;
}

.header-slider-wrap .header-slider-wrap-main .slick-dots li:last-child {
  margin-right: 0;
}

.header-slider-wrap .header-slider-wrap-main .slick-dots li button {
  font-size: 0;
  border: 2px solid #fff;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.header-slider-wrap .header-slider-wrap-main .slick-dots li button:focus {
  outline: none;
}

.header-slider-wrap .header-slider-wrap-main .slick-dots li:hover button, .header-slider-wrap .header-slider-wrap-main .slick-dots li.slick-active button {
  background-color: #fff;
}

.slick-slide img {
  max-width: none;
  margin-left: 50%;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
}

.blur-wrap {
  background-color: #f5f8fa;
  border-style: solid;
  border-width: 0px 0px 10px;
  border-image: url(../images/vawe.png) 10 0 fill repeat;
}

.wrap-text {
  background-color: #f5f8fa;
  max-width: 1500rem;
  width: 100%;
  margin: 0 auto;
}

.wrap-text .convert-text {
  text-align: center;
}

.wrap-text .convert-text p {
  font-size: 24rem;
  font-family: "Merel";
  font-weight: 700;
  padding: 36rem 10% 20rem 10%;
  text-transform: uppercase;
  letter-spacing: 5rem;
}

.wrap-text .convert-text h1 {
  font-family: "Merel";
  font-weight: 400;
  font-size: 14rem;
  padding: 28rem 7% 0rem 7%;
  line-height: 29rem;
  margin-bottom: 0rem;
}

.wrap-text .convert-text:last-child {
  margin-bottom: 65rem;
}

.conditer-stock {
  background-color: #f5f8fa;
}

.conditer-bread {
  background-color: #f5f8fa;
}

.footer-wrapp-main {
  width: 100%;
  background-color: #fbfcfd;
  margin: 0 auto;
}

.navi-wrapp-main {
  width: 100%;
  background-color: #f5f7fa;
  margin: 0 auto;
}

.main-block {
  text-align: center;
  max-width: 1500px;
}

.main-block .header-place {
  padding-top: 76rem;
  padding-bottom: 20rem;
  font-family: "Merel", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18rem;
  letter-spacing: 2rem;
  color: #000000;
}

.main-block .convert-adress {
  width: 100%;
  padding-top: 45rem;
  margin-bottom: 0rem;
  text-align: justify;
}

.main-block .convert-adress .adress {
  display: inline-block;
  width: 23%;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Merel", sans-serif;
  font-size: 11rem;
  color: #000000;
}

.main-block .socials-head {
  max-width: 200rem;
  padding-top: 69rem;
  padding-bottom: 57rem;
  margin: 0 auto;
}

.main-block .socials-head p {
  color: #aaacad;
  text-transform: uppercase;
  font-family: "Merel", sans-serif;
  font-weight: 700;
  font-size: 11rem;
  padding-bottom: 32rem;
  margin-bottom: 0rem;
  letter-spacing: 1px;
}

.main-block .socials-head .soc-fb a {
  border-radius: 50%;
  border: solid 1px #ccc;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  transition: border 200ms linear;
}

.main-block .socials-head .soc-fb a:nth-child(1) {
  margin-right: 17px;
}

.main-block .socials-head .soc-fb a:hover {
  border: solid 4px #ccc;
}

nav {
  text-align: center;
  padding-top: 28rem;
  padding-bottom: 27rem;
}

nav ul li {
  display: inline-block;
  width: 14%;
  margin-left: -4rem;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #919294;
  font-family: "Merel", sans-serif;
  font-weight: 500;
  font-size: 12rem;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:hover, nav ul li a:active, nav ul li a:focus, nav ul li a:visited {
  text-decoration: none;
}

.mbox {
  max-width: 1280rem;
  display: block;
  margin: 0 auto;
}

.foot-grad {
  width: 100%;
  height: 4px;
  background: linear-gradient(#e0e0e0, #f6f6f6);
  -webkit-background: linear-gradient(#e0e0e0, #f6f6f6);
  -o-background: linear-gradient(#e0e0e0, #f6f6f6);
  -moz-background: linear-gradient(#e0e0e0, #f6f6f6);
}
