/* fonts */
@font-face {
  font-family: 'slick';
  src: url("../fonts/slick.eot");
  src: local("O"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'glyphicons';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: local("O"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merel';
  src: url("../fonts/Merel-Black.eot");
  src: local("O"), url("../fonts/Merel-Black.woff") format("woff"), url("../fonts/Merel-Black.otf") format("otf"), url("../fonts/Merel-Black.ttf") format("truetype"), url("../fonts/Merel-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Merel';
  src: url("../fonts/Merel-Bold.eot");
  src: local("O"), url("../fonts/Merel-Bold.woff") format("woff"), url("../fonts/Merel-Bold.otf") format("otf"), url("../fonts/Merel-Bold.ttf") format("truetype"), url("../fonts/Merel-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merel';
  src: url("../fonts/Merel-Light.eot");
  src: local("O"), url("../fonts/Merel-Light.woff") format("woff"), url("../fonts/Merel-Light.otf") format("otf"), url("../fonts/Merel-Light.ttf") format("truetype"), url("../fonts/Merel-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merel';
  src: url("../fonts/Merel-Medium.eot");
  src: local("O"), url("../fonts/Merel-Medium.woff") format("woff"), url("../fonts/Merel-Medium.otf") format("otf"), url("../fonts/Merel-Medium.ttf") format("truetype"), url("../fonts/Merel-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Merel';
  src: url("../fonts/Merel-Regular.eot");
  src: local("O"), url("../fonts/Merel-Regular.woff") format("woff"), url("../fonts/Merel-Regular.otf") format("otf"), url("../fonts/Merel-Regular.ttf") format("truetype"), url("../fonts/Merel-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merel';
  src: url("../fonts/Merel-Thin.eot");
  src: local("O"), url("../fonts/Merel-Thin.woff") format("woff"), url("../fonts/Merel-Thin.otf") format("otf"), url("../fonts/Merel-Thin.ttf") format("truetype"), url("../fonts/Merel-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI.eot");
  src: local("O"), url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.otf") format("otf"), url("../fonts/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUI.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI-Bold.eot");
  src: local("O"), url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.otf") format("otf"), url("../fonts/SegoeUI-Bold.ttf") format("truetype"), url("../fonts/SegoeUI-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI-BoldItalic.eot");
  src: local("O"), url("../fonts/SegoeUI-BoldItalic.woff") format("woff"), url("../fonts/SegoeUI-BoldItalic.otf") format("otf"), url("../fonts/SegoeUI-BoldItalic.ttf") format("truetype"), url("../fonts/SegoeUI-BoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI-Italic.eot");
  src: local("O"), url("../fonts/SegoeUI-Italic.woff") format("woff"), url("../fonts/SegoeUI-Italic.otf") format("otf"), url("../fonts/SegoeUI-Italic.ttf") format("truetype"), url("../fonts/SegoeUI-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI-Light.eot");
  src: local("O"), url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.otf") format("otf"), url("../fonts/SegoeUI-Light.ttf") format("truetype"), url("../fonts/SegoeUI-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI-SemiBold.eot");
  src: local("O"), url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.otf") format("otf"), url("../fonts/SegoeUI-SemiBold.ttf") format("truetype"), url("../fonts/SegoeUI-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* /fonts*/
