@charset "UTF-8";
/*ебаут ас))))*/
.about-us-wrapper {
  padding-bottom: 93px;
}

.about-us-wrapper .about-us-align .about-title {
  text-align: center;
  margin-bottom: 85px;
}

.about-us-wrapper .about-us-align .about-title span {
  font-family: 'Merel';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 19rem;
  letter-spacing: 1px;
}

.about-us-wrapper .about-us-align .img-wrapp {
  margin-bottom: 60px;
}

.about-us-wrapper .about-us-align .about-text {
  text-align: center;
}

.about-us-wrapper .about-us-align .about-text span {
  font-family: 'Merel';
  font-weight: 500;
  font-size: 14rem;
}

/*/ебаут ас))))*/
/*special*/
.special-wrapper .special-align .special-title {
  text-align: center;
  margin-bottom: 85px;
}

.special-wrapper .special-align .special-title span {
  font-family: 'Merel';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 19rem;
  letter-spacing: 1px;
}

.special-wrapper .special-align .img-wrapp {
  margin-bottom: 79px;
}

.special-wrapper .special-align .img-wrapp .img-drop {
  display: inline-block;
}

.special-wrapper .special-align .img-wrapp .img-menu {
  margin-right: 19px;
}

/*/special*/
/*conditer -choise*/
.cond-wrapp .cond-align span {
  font-family: 'Merel';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24rem;
  letter-spacing: 5px;
  color: #303030;
}

.cond-wrapp .cond-align .cond-title {
  width: 100%;
  text-align: center;
  padding-bottom: 147px;
}

.cond-wrapp .cond-align .cond-block {
  display: inline-block;
  max-width: 49%;
  text-align: center;
  padding-left: 15px;
}

.cond-wrapp .cond-align .cond-block a {
  text-decoration: none;
}

.cond-wrapp .cond-align .cond-block:nth-child(3) {
  padding-left: 41px;
}

.cond-wrapp .cond-align .cond-block .img-block {
  padding-bottom: 41px;
}

.cond-wrapp .cond-align .cond-block .title-block {
  padding-bottom: 31px;
}

.cond-wrapp .cond-align .cond-block .title-block span {
  font-size: 14rem;
  letter-spacing: 3px;
}

.cond-wrapp .cond-align .cond-block .text-block {
  width: 69%;
  display: inline-block;
}

.cond-wrapp .cond-align .cond-block .text-block span {
  font-weight: 500;
  text-transform: none;
  font-size: 14rem;
  letter-spacing: 1px;
  line-height: 30px;
}

/*/conditer -choise*/
/*title photo*/
.title-photo {
  width: 1500px;
  margin: 0 auto;
}

.title-photo.send {
  padding-bottom: 166px;
}

.title-photo.send .title-photo-align {
  position: relative;
  text-align: center;
}

.title-photo.send .title-photo-align span {
  color: #fff;
  font-size: 24rem;
  font-family: 'Merel';
  font-weight: 500;
  line-height: 30px;
}

.title-photo.send .title-photo-align .bread-img {
  position: absolute;
  top: 0;
  left: 0;
}

.title-photo.send .title-photo-align .bread-text {
  position: relative;
  padding: 89px 145px 40px;
}

.title-photo.send .title-photo-align .bread-text span {
  font-size: 18rem;
}

.title-photo.send .title-photo-align .bread-phone {
  position: relative;
  padding: 27px 145px 40px;
}

.title-photo.send .title-photo-align .bread-phone span {
  font-size: 48rem;
  font-weight: 700;
  letter-spacing: 8.5px;
}

.title-photo.send .title-photo-align .bred-min {
  position: relative;
  padding: 59px 145px 52px;
}

.title-photo.send .title-photo-align .bread-price-wrapp {
  position: relative;
}

.title-photo.send .title-photo-align .bread-price-wrapp a {
  text-decoration: none;
}

.title-photo.send .title-photo-align .bread-price-wrapp .bread-price {
  padding: 28px 0 0;
  background-color: #d10019;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  position: absolute;
  left: -webkit-calc(50% - 46px);
  left: -moz-calc(50% - 46px);
  left: calc(50% - 46px);
}

.title-photo.send .title-photo-align .bread-price-wrapp .bread-price span {
  font-weight: 700;
}

/*/send*/
/*/title foto*/
/*send*/
.send-content-wrapp .send-align {
  text-align: center;
}

.send-content-wrapp .send-align span {
  font-family: 'Merel';
  font-weight: 400;
  font-size: 14rem;
  color: #2d2d2e;
}

.send-content-wrapp .send-align span b {
  font-weight: 400;
  color: #d10019;
}

.send-content-wrapp .send-align .send-title {
  padding-bottom: 120px;
}

.send-content-wrapp .send-align .send-title span {
  font-weight: 700;
  text-transform: uppercase;
}

.send-content-wrapp .send-align .diag-wrap {
  padding-bottom: 111px;
}

.send-content-wrapp .send-align .diag-wrap .send-item {
  width: -webkit-calc(25% - 4px);
  width: -moz-calc(25% - 4px);
  width: calc(25% - 4px);
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.send-content-wrapp .send-align .diag-wrap .send-item:nth-child(1) .item-img {
  background-color: #ffb2b6;
}

.send-content-wrapp .send-align .diag-wrap .send-item:nth-child(2) .item-img {
  background-color: #a2e8db;
}

.send-content-wrapp .send-align .diag-wrap .send-item:nth-child(3) .item-img {
  background-color: #cce5ff;
}

.send-content-wrapp .send-align .diag-wrap .send-item:nth-child(4) .item-img {
  background-color: #cfccff;
}

.send-content-wrapp .send-align .diag-wrap .send-item .item-align .item-img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 141px;
  height: 141px;
  display: inline-block;
  padding-top: 43px;
}

.send-content-wrapp .send-align .diag-wrap .send-item .item-align .item-img span {
  font-weight: 900;
  font-size: 30rem;
  color: #fff;
  text-transform: uppercase;
}

.send-content-wrapp .send-align .diag-wrap .send-item .item-align .item-text {
  padding-top: 28px;
}

.send-content-wrapp .send-align .diag-wrap .send-item .item-align .item-text span {
  font-size: 18rem;
  color: #2f3030;
}

.send-content-wrapp .send-align .send-text1 {
  padding: 0 272px;
}

.send-content-wrapp .send-align .send-text1 span {
  font-size: 18rem;
  line-height: 30rem;
}

.send-content-wrapp .send-align .send-text2 {
  padding-top: 38px;
}

.send-content-wrapp .send-align .send-text2 span {
  font-weight: 700;
  font-size: 72.35rem;
  color: #ccc;
}

.send-content-wrapp .send-align .send-text3 {
  padding-top: 35px;
}

.send-content-wrapp .send-align .send-text3 span {
  line-height: 30rem;
}

.send-content-wrapp .send-align .send-text4 {
  padding-top: 36px;
}

.send-content-wrapp .send-align .send-text5 {
  padding-top: 42px;
}

.title {
  width: 100%;
  text-align: center;
  padding: 22px 0 52px;
}

.title .title-text {
  font-size: 29rem;
  font-family: "Merel";
  font-weight: 700;
  padding: 10rem 10% 10rem 10%;
  text-transform: uppercase;
  letter-spacing: 3rem;
}

.title.contacts .title-text {
  font-size: 24rem;
  padding-top: 24px;
  letter-spacing: 5rem;
  padding-bottom: 23px;
}

/*/send*/
/**breadcrumps*/
.breadcrumbs {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.breadcrumbs .crumps-align {
  text-align: center;
  padding-top: 55px;
}

.breadcrumbs .crumps-align a {
  text-decoration: none;
}

.breadcrumbs .crumps-align span {
  font-family: 'Merel';
  font-weight: 400;
  font-size: 13rem;
  color: #919294;
  letter-spacing: 0.5px;
}

/*/breadcrumps*/
/*contacts**/
.contact-wrapp .contact-align {
  padding-bottom: 63px;
}

.contact-wrapp .contact-align .contact-item {
  background-color: #fafafa;
  max-width: calc(50% - 5px);
  display: inline-block;
  padding-bottom: 54px;
  margin-bottom: 18px;
}

.contact-wrapp .contact-align .contact-item:nth-child(1), .contact-wrapp .contact-align .contact-item:nth-child(3) {
  margin-right: 19px;
}

.contact-wrapp .contact-align .contact-item span {
  font-family: 'Merel';
  font-weight: 500;
  color: #303030;
  font-size: 18rem;
}

.contact-wrapp .contact-align .contact-item .item-align {
  text-align: center;
}

.contact-wrapp .contact-align .contact-item .item-align .item-img {
  padding-bottom: 39px;
}

.contact-wrapp .contact-align .contact-item .item-align .item-name {
  padding-bottom: 12px;
}

.contact-wrapp .contact-align .contact-item .item-align .item-name span {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.5rem;
}

.contact-wrapp .contact-align .contact-item .item-align .item-addres {
  padding-bottom: 48px;
}

.contact-wrapp .contact-align .contact-item .item-align .item-addres span {
  font-weight: 400;
}

.contact-wrapp .contact-align .contact-item .item-align .item-icons {
  padding-bottom: 48px;
}

.contact-wrapp .contact-align .contact-item .item-align .item-icons .icon-phone {
  display: inline-block;
  padding: 0 47px 0 20px;
}

.contact-wrapp .contact-align .contact-item .item-align .item-icons .icon-phone i {
  background-image: url("../images/cont-phone.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  margin-right: 9px;
}

.contact-wrapp .contact-align .contact-item .item-align .item-icons .icon-clock {
  display: inline-block;
}

.contact-wrapp .contact-align .contact-item .item-align .item-icons .icon-clock i {
  background-image: url("../images/cont-clock.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.contact-wrapp .contact-align .contact-item .item-align .item-butt a {
  background-color: #d10019;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  width: 200px;
  height: 48px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
}

.contact-wrapp .contact-align .contact-item .item-align .item-butt a span {
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14rem;
}

/*/contacts**/
