/* about caffe */
.about-caffe-wrap .about-caffe p {
  font-size: 14rem;
  font-family: Merel;
  margin-bottom: 64px;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  word-spacing: -4rem;
  line-height: 1.6;
}

.about-caffe-wrap .about-caffe p span {
  text-align: center;
  width: 100%;
  display: inline-block;
  word-spacing: 0rem;
}

.about-caffe-wrap .about-caffe .text-justify {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  word-spacing: -1px;
  line-height: 1.75;
  margin-bottom: 147px;
}

.about-caffe-wrap .about-caffe .text-justify span {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.about-caffe-wrap .about-caffe .differend-font {
  font-size: 52rem;
  font-family: 'SavoyeLetPlain', sans-serif;
  text-align: center;
  color: #675034;
}

.about-caffe-wrap .about-caffe .differend-font span {
  font-size: 72rem;
  font-family: 'SavoyeLetPlain', sans-serif;
}

/* /about caffe */
/* actions */
.action-content-wrap .action-content .action-block {
  width: -webkit-calc(50% - 10px);
  width: -moz-calc(50% - 10px);
  width: calc(50% - 10px);
  float: left;
  position: relative;
  min-height: 630px;
  height: 100%;
  margin-bottom: 20px;
}

.action-content-wrap .action-content .action-block h2 {
  font-size: 122rem;
  font-family: 'SavoyeLetPlain', sans-serif;
  text-align: center;
  color: #fff;
  margin: 0;
}

.action-content-wrap .action-content .action-block p {
  font-size: 62rem;
  font-family: 'SavoyeLetPlain', sans-serif;
  text-align: center;
  color: #fff;
}

.action-content-wrap .action-content .action-block p span {
  width: 100%;
  display: inline-block;
}

.action-content-wrap .action-content .action-block.action1 {
  background-image: url(../images/action1.jpg);
  background-repeat: no-repeat;
  float: left;
}

.action-content-wrap .action-content .action-block.action2 {
  background-image: url(../images/action2.jpg);
  background-repeat: no-repeat;
  float: right;
}

.action-content-wrap .action-content .action-block.action3 {
  background-image: url(../images/action3.jpg);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  height: 100%;
}

/* /actions */
