/* about caffe */
.about-caffe-wrap p {
  font-size: 14rem;
  font-family: Merel;
  margin-bottom: 64px;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  word-spacing: -4rem;
  line-height: 1.6;
}

.about-caffe-wrap p span {
  text-align: center;
  width: 100%;
  display: inline-block;
  word-spacing: 0rem;
}

.about-caffe-wrap .text-justify {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  word-spacing: -1px;
  line-height: 1.75;
  margin-bottom: 147px;
}

.about-caffe-wrap .text-justify span {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.about-caffe-wrap .differend-font {
  font-size: 52rem;
  font-family: 'SavoyeLetPlain', sans-serif;
  text-align: center;
  color: #675034;
}

.about-caffe-wrap .differend-font span {
  font-size: 72rem;
  font-family: 'SavoyeLetPlain', sans-serif;
}

/* /about caffe */
/* actions */
.action-content-wrap .action-block {
  width: -webkit-calc(50% - 10px);
  width: -moz-calc(50% - 10px);
  width: calc(50% - 10px);
  float: left;
  position: relative;
  margin-bottom: 20px;
}

.action-content-wrap .action-block.action1 {
  float: left;
}

.action-content-wrap .action-block.action2 {
  float: right;
}

.action-content-wrap .action-block.action3 {
  width: 100%;
}

.action-content-wrap .action-block img {
  max-width: 100%;
}

/* /actions */
/* catalog-nav */
.catalog-nav-wrap ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.catalog-nav-wrap ul li {
  padding: 0px 28px;
  display: inline-block;
  margin-bottom: 15px;
}

.catalog-nav-wrap ul li a {
  font-family: 'Merel';
  font-size: 12rem;
  color: #303030;
  text-decoration: none;
  text-transform: uppercase;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
  letter-spacing: 2rem;
}

.catalog-nav-wrap ul li a:hover {
  color: #d10019;
}

/* /catalog-nav */
