/* about caffe */
.about-caffe-wrap p {
  font-size: 14rem;
  font-family: Merel;
  margin-bottom: 64px;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  word-spacing: -4rem;
  line-height: 1.6;
}

.about-caffe-wrap p span {
  text-align: center;
  width: 100%;
  display: inline-block;
  word-spacing: 0rem;
}

.about-caffe-wrap .text-justify {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  word-spacing: -1px;
  line-height: 1.75;
  margin-bottom: 147px;
}

.about-caffe-wrap .text-justify span {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.about-caffe-wrap .differend-font {
  font-size: 1rem;
  font-family: 'SavoyeLetPlain', sans-serif;
  text-align: center;
  color: transparent;
  position: relative;
  height: 116px;
}

.about-caffe-wrap .differend-font:before {
  display: block;
  content: '';
  position: absolute;
  background-image: url(../images/testimg.png);
  background-repeat: no-repeat;
  top: 0px;
  width: 100%;
  height: 116px;
  max-width: 1112px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-size: 100%;
}

/* /about caffe */
/* actions */
.action-content-wrap .action-block {
  width: calc(50% - 10px);
  float: left;
  position: relative;
  margin-bottom: 20px;
}

.action-content-wrap .action-block.action1 {
  float: left;
}

.action-content-wrap .action-block.action2 {
  float: right;
}

.action-content-wrap .action-block.action3 {
  width: 100%;
}

.action-content-wrap .action-block img {
  max-width: 100%;
}

@media screen and (max-width: 666px) {
  .action-block {
    width: 100% !important;
    display: block;
    float: none;
  }
}

/* /actions */
/* catalog-nav */
.catalog-nav-wrap {
  margin-bottom: 50px;
}

.catalog-nav-wrap ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.catalog-nav-wrap ul li {
  padding: 0px 28px;
  display: inline-block;
  margin-bottom: 15px;
}

.catalog-nav-wrap ul li a {
  font-family: 'Merel';
  font-size: 12rem;
  color: #303030;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 500ms ease;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
  letter-spacing: 2rem;
}

.catalog-nav-wrap ul li a:hover {
  color: #d10019;
}

/* /catalog-nav */
/* catalog-content */
.catalog-content .catalog-item {
  display: inline-block;
  width: calc(25% - 16rem);
  margin-right: 20px;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}

.catalog-content .catalog-item .catalog-item-img .catalog-item-img-wrap {
  position: relative;
}

.catalog-content .catalog-item .catalog-item-img .catalog-item-img-wrap .loop {
  display: block;
}

.catalog-content .catalog-item .catalog-item-img .catalog-item-img-wrap .loop:hover:before {
  background-image: url(../images/loop.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 49px;
  height: 48px;
  content: '';
}

.catalog-content .catalog-item .catalog-item-img .catalog-item-img-wrap .loop img {
  max-width: 100%;
}

.catalog-content .catalog-item .catalog-item-img .red_circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

.catalog-content .catalog-item .catalog-item-text {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.catalog-content .catalog-item .catalog-item-text .catalog-item-desc p {
  font-size: 14rem;
  font-family: 'Merel';
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.catalog-content .catalog-item .catalog-item-text .catalog-item-price {
  padding-top: 10px;
}

.catalog-content .catalog-item .catalog-item-text .catalog-item-price p {
  font-size: 14rem;
  font-family: 'Merel';
  text-align: center;
}

.catalog-content .catalog-item .catalog-item-text .catalog-item-price p b {
  font-size: 24rem;
  font-weight: 700;
}

.catalog-content .catalog-item .catalog-item-text .catalog-item-price p span {
  text-transform: lowercase;
}

.catalog-content .catalog-item .add-to-cart {
  text-align: center;
  width: 100%;
  letter-spacing: 2rem;
  opacity: 0;
  transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
}

.catalog-content .catalog-item .add-to-cart a {
  background-color: #D10019;
  text-transform: uppercase;
  font-family: 'Merel';
  font-weight: 700;
  font-size: 10rem;
  color: #fff;
  text-decoration: none;
  padding: 13px 28px;
  border-radius: 5px;
  display: inline-block;
}

.catalog-content .catalog-item.large-item {
  width: calc(50% - 10rem);
}

.catalog-content .catalog-item.action-item {
  position: relative;
}

.catalog-content .catalog-item.action-item .catalog-item-img .catalog-item-img-wrap .loop:hover:before {
  left: 25%;
}

.catalog-content .catalog-item.action-item .catalog-item-text {
  top: 38%;
  right: 1%;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-desc {
  margin-bottom: 10px;
}

.catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-desc p {
  color: #fff;
}

.catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-price p {
  color: #fff;
}

.catalog-content .catalog-item.action-item .catalog-item-text .action-text {
  bottom: 0;
  box-sizing: border-box;
  line-height: 2;
  position: absolute;
  padding: 0;
}

.catalog-content .catalog-item.action-item .catalog-item-text .action-text p {
  color: #fff;
  font-family: 'Merel';
  font-size: 13rem;
}

.catalog-content .catalog-item.action-item .add-to-cart {
  bottom: 25%;
  position: absolute;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
}

.catalog-content .catalog-item:hover .add-to-cart {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .add-to-cart {
    opacity: 1 !important;
  }
}

@media screen and (max-width: 768px) {
  .catalog-content .catalog-item {
    width: calc(50% - 1rem);
    margin-bottom: 20px;
    margin-right: 0;
  }
  .catalog-content .catalog-item.large-item {
    width: calc(100%);
  }
  .catalog-content .catalog-item.action-item .catalog-item-text div {
    width: 87%;
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .action-text {
    bottom: 0;
    box-sizing: border-box;
    line-height: 2;
    position: absolute;
    padding: 0;
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .action-text p {
    color: #fff;
    font-family: 'Merel';
    font-size: 13rem;
  }
  .catalog-content .catalog-item.action-item .add-to-cart {
    bottom: 25%;
    position: absolute;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-28%);
    transform: translateX(-28%);
  }
  .catalog-content .catalog-item .catalog-item-img .catalog-item-img-wrap .loop img {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 666px) {
  .catalog-item-text div {
    width: 100% !important;
  }
}

@media screen and (max-width: 479px) {
  .catalog-content .catalog-item {
    width: calc(100% - 1rem);
  }
  .load-more-items .load-more-wrap:before, .load-more-items .load-more-wrap:after {
    width: 40% !important;
  }
}

@media screen and (max-width: 320px) {
  .catalog-content .catalog-item {
    width: calc(100% - 1rem);
  }
  .load-more-items .load-more-wrap:before, .load-more-items .load-more-wrap:after {
    width: 35% !important;
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-desc p {
    font-size: 10rem;
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-price p {
    font-size: 10rem;
  }
  .catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-price p b {
    font-size: 12rem;
  }
  .catalog-content .catalog-item.action-item .add-to-cart {
    bottom: -25%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.load-more-items .load-more-wrap {
  width: 100%;
  height: 70px;
  text-align: center;
  position: relative;
}

.load-more-items .load-more-wrap:before {
  width: 45%;
  display: block;
  content: '';
  width: 45%;
  height: 2px;
  position: absolute;
  left: 0;
  top: -50%;
  background-color: #ccc;
}

.load-more-items .load-more-wrap:after {
  width: 45%;
  display: block;
  content: '';
  width: 45%;
  height: 2px;
  position: absolute;
  right: 0;
  top: -50%;
  background-color: #ccc;
}

.load-more-items .load-more-wrap .load-more {
  display: inline-block;
}

.load-more-items .load-more-wrap .load-more a {
  font-size: 12rem;
  font-family: 'Merel';
  font-weight: 700;
  color: #ccc;
  letter-spacing: 1rem;
  width: 65px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.load-more-items .load-more-wrap .load-more a:before {
  background-image: url(../images/loadmore.png);
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
  display: block;
  content: '';
  position: absolute;
  top: -65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.catalog-items {
  margin-bottom: 100px;
}

.catalog-items .row3 {
  margin-bottom: 30px;
}

.catalog-items .row3 .catalog-item:nth-child(3n) {
  margin-right: 0px !important;
}

.catalog-items .row4 {
  margin-bottom: 30px;
}

.catalog-items .row4 .catalog-item:nth-child(4n) {
  margin-right: 0px !important;
}

/* /catalog-content */
