/* variables */
/* /variables */
/* buttons styles */
.button {
  height: 48rem;
  line-height: 46rem;
  background-color: #d10019;
  text-align: center;
  width: 100%;
  display: inline-block;
  border-radius: 5rem;
  color: #fff;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-size: 14rem;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
  -moz-transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
  -o-transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
}

.button:hover {
  background-color: #FFF;
  border-color: #d10019;
  color: #d10019;
}

.button:focus {
  outline: none;
}

/* /buttons styles */
/* header */
.header {
  position: relative;
  z-index: 2;
}

.header-top {
  background-color: #fff;
  padding: 10rem 0 10rem 0;
}

.header-top .mbox {
  min-height: 60rem;
}

.header-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header-logo a {
  text-decoration: none;
}

.header-telefone {
  float: left;
  padding-top: 15rem;
}

.header-telefone a {
  text-decoration: none;
  font-size: 18rem;
  color: #2a2a2b;
  font-weight: 700;
  transition: color 300ms ease;
}

.header-telefone a span {
  color: #d10019;
  transition: color 300ms ease;
}

.header-telefone a:hover {
  color: orange;
}

.header-telefone a:hover span {
  color: orange;
}

.header-basket-main {
  padding-top: 20rem;
  float: right;
}

.header-basket-main .header-basket-icon {
  position: relative;
  cursor: pointer;
}

.header-basket-main .header-basket-icon .header-basket-value {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  background-color: #d10019;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 13rem;
  display: none;
  position: absolute;
  left: 100%;
  bottom: 100%;
}

.header-basket-main .header-basket-icon.active .header-basket-value {
  display: block;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.header-basket-main .header-basket-icon.active:hover .header-basket-value {
  background-color: orange;
}

.header-basket-form {
  position: absolute;
  right: 0;
  top: 100%;
  width: 305rem;
  background-color: #fff;
  padding: 25rem 20rem 25rem 20rem;
  box-shadow: 0 4rem 30rem 0 rgba(0, 0, 0, 0.18);
  display: none;
}

.header-basket-form:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7.5rem 5rem;
  border-style: solid;
  border-color: transparent #fff #fff transparent;
  bottom: 100%;
  right: 0;
}

.header-basket-form .close-form {
  position: absolute;
  right: 5rem;
  top: 5rem;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

.header-basket-form .close-form:before, .header-basket-form .close-form:after {
  content: '';
  display: block;
  position: absolute;
  width: 12rem;
  height: 2rem;
  background-color: #b3b3b3;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  left: 1rem;
  transition: ease 300ms background-color;
}

.header-basket-form .close-form:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-basket-form .close-form:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-basket-form .close-form:hover:before, .header-basket-form .close-form:hover:after {
  background-color: orange;
}

.header-basket-form .form-title {
  font-size: 16rem;
  color: #1a1a1a;
  margin-bottom: 15rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.header-basket-form .form-title .form-title-items-text {
  font-weight: 400;
}

.header-basket-form .header-basket-form-row {
  border-top: 1px solid #e6e6e6;
  padding-top: 10rem;
  margin-bottom: 10rem;
}

.header-basket-form .header-basket-row-title {
  font-size: 14rem;
  color: #1a1a1a;
  font-size: 14rem;
  margin-bottom: 15rem;
}

.header-basket-form .header-basket-row-value {
  float: left;
}

.header-basket-form .header-basket-row-value .header-basket-row-price {
  display: inline-block;
  vertical-align: middle;
  font-size: 16rem;
  color: #1a1a1a;
  font-weight: 700;
  position: relative;
  padding-right: 20rem;
}

.header-basket-form .header-basket-row-value .header-basket-row-price:after, .header-basket-form .header-basket-row-value .header-basket-row-price:before {
  content: '';
  display: block;
  right: 5rem;
  top: 56%;
  position: absolute;
  display: block;
  width: 10rem;
  height: 1rem;
  background-color: #000;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.header-basket-form .header-basket-row-value .header-basket-row-price:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-basket-form .header-basket-row-value .header-basket-row-price:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-basket-form .header-basket-row-value .header-basket-row-input {
  display: inline-block;
}

.header-basket-form .header-basket-row-value .header-basket-row-input input {
  display: inline-block;
  width: 44rem;
  height: 28rem;
  border: 2rem solid #e6e6e6;
  border-radius: 3rem;
  vertical-align: middle;
  text-align: center;
  font-size: 14rem;
  color: #1a1a1a;
}

.header-basket-form .header-basket-row-value .header-basket-row-input span {
  display: inline-block;
  font-size: 14rem;
  color: #b2b2b2;
  vertical-align: middle;
  margin-left: 5rem;
  margin-top: -3rem;
}

.header-basket-form .header-basket-row-item-sum {
  float: right;
  font-size: 16rem;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  color: #d10019;
}

.header-basket-form .header-basket-all-sum {
  text-align: center;
  padding-top: 10rem;
  margin-bottom: 10rem;
  font-weight: 700;
  color: #d10019;
  font-size: 30rem;
  text-transform: uppercase;
}

.call_success {
  padding: 30px 40px 30px 40px;
  color: #1a1a1a;
  text-align: center;
}

.call_success .call_success-title {
  font-size: 36rem;
  font-weight: 700;
  margin-bottom: 20rem;
  text-transform: uppercase;
}

.call_success .call_success-text {
  font-size: 26rem;
}

/* /header */
