/* variables */
/* /variables */
/* buttons styles */
.button {
  height: 48rem;
  line-height: 43rem;
  background-color: #d10019;
  text-align: center;
  width: 100%;
  display: inline-block;
  border-radius: 5rem;
  color: #fff;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-size: 14rem;
  cursor: pointer;
  transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
}

.button:hover {
  background-color: #FFF;
  border-color: #d10019;
  color: #d10019;
}

.button:focus {
  outline: none;
}

/* /buttons styles */
/* header */
.header {
  position: relative;
  z-index: 2;
}

.header-top {
  background-color: #fff;
  padding: 10rem 0 10rem 0;
  position: relative;
  z-index: 1;
}

.header-top .mbox {
  min-height: 60rem;
}

.header-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header-logo a {
  text-decoration: none;
}

.header-telefone {
  float: left;
  padding-top: 15rem;
}

.header-telefone a {
  text-decoration: none;
  font-size: 18rem;
  color: #2a2a2b;
  font-weight: 700;
  transition: color 300ms ease;
}

.header-telefone a span {
  color: #d10019;
  transition: color 300ms ease;
}

.header-telefone a:hover {
  color: orange;
}

.header-telefone a:hover span {
  color: orange;
}

.header-basket-main {
  padding-top: 20rem;
  float: right;
  margin-right: 24rem;
  position: relative;
}

.header-basket-main .header-basket-icon {
  position: relative;
  cursor: pointer;
}

.header-basket-main .header-basket-icon .header-basket-value {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  background-color: #d10019;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 13rem;
  display: none;
  position: absolute;
  left: 100%;
  bottom: 100%;
}

.header-basket-main .header-basket-icon.active .header-basket-value {
  display: block;
  transition: background-color 300ms ease;
}

.header-basket-main .header-basket-icon.active:hover .header-basket-value {
  background-color: orange;
}

.header-basket-form {
  position: absolute;
  right: 0;
  top: 100%;
  width: 305rem;
  background-color: #fff;
  padding: 25rem 20rem 20rem 20rem;
  box-shadow: 0 4rem 30rem 0 rgba(0, 0, 0, 0.18);
  display: none;
  margin-top: 15rem;
}

.header-basket-form:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7.5rem 5rem;
  border-style: solid;
  border-color: transparent #fff #fff transparent;
  bottom: 100%;
  right: 0;
}

.header-basket-form .close-form {
  position: absolute;
  right: 10rem;
  top: 14rem;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

.header-basket-form .close-form:before, .header-basket-form .close-form:after {
  content: '';
  display: block;
  position: absolute;
  width: 12rem;
  height: 2rem;
  background-color: #b3b3b3;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  left: 1rem;
  transition: ease 300ms background-color;
}

.header-basket-form .close-form:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-basket-form .close-form:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-basket-form .close-form:hover:before, .header-basket-form .close-form:hover:after {
  background-color: orange;
}

.header-basket-form .form-title {
  font-size: 16rem;
  color: #1a1a1a;
  margin-bottom: 25rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.header-basket-form .form-title .form-title-items-text {
  font-weight: 400;
}

.header-basket-form .header-basket-form-row {
  border-top: 1px solid #e6e6e6;
  padding-top: 14rem;
  margin-bottom: 20rem;
}

.header-basket-form .header-basket-form-row.submit {
  margin-bottom: 0rem;
}

.header-basket-form .header-basket-row-title {
  font-size: 14rem;
  color: #1a1a1a;
  font-size: 14rem;
  line-height: 22rem;
  margin-bottom: 18rem;
}

.header-basket-form .header-basket-row-value {
  float: left;
}

.header-basket-form .header-basket-row-value .header-basket-row-price {
  display: inline-block;
  vertical-align: middle;
  font-size: 16rem;
  color: #1a1a1a;
  font-weight: 700;
  position: relative;
  padding-right: 20rem;
}

.header-basket-form .header-basket-row-value .header-basket-row-price:after, .header-basket-form .header-basket-row-value .header-basket-row-price:before {
  content: '';
  display: block;
  right: 5rem;
  top: 56%;
  position: absolute;
  display: block;
  width: 10rem;
  height: 1rem;
  background-color: #000;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.header-basket-form .header-basket-row-value .header-basket-row-price:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-basket-form .header-basket-row-value .header-basket-row-price:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-basket-form .header-basket-row-value .header-basket-row-input {
  display: inline-block;
  margin-left: 6rem;
}

.header-basket-form .header-basket-row-value .header-basket-row-input input {
  display: inline-block;
  width: 44rem;
  height: 28rem;
  border: 2rem solid #e6e6e6;
  border-radius: 6rem;
  vertical-align: middle;
  text-align: center;
  font-size: 14rem;
  color: #1a1a1a;
}

.header-basket-form .header-basket-row-value .header-basket-row-input span {
  display: inline-block;
  font-size: 14rem;
  color: #b2b2b2;
  vertical-align: middle;
  margin-left: 10rem;
  margin-top: -3rem;
}

.header-basket-form .header-basket-row-item-sum {
  float: right;
  font-size: 16rem;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  color: #d10019;
}

.header-basket-form .header-basket-all-sum {
  text-align: center;
  padding-top: 10rem;
  margin-bottom: 32rem;
  font-weight: 700;
  color: #d10019;
  font-size: 30rem;
  text-transform: uppercase;
}

.header-basket-form .header-basket-submit-button button.button {
  letter-spacing: 2.6rem;
  font-weight: 700;
}

.call_success {
  padding: 30px 40px 30px 40px;
  color: #1a1a1a;
  text-align: center;
}

.call_success .call_success-title {
  font-size: 36rem;
  font-weight: 700;
  margin-bottom: 20rem;
  text-transform: uppercase;
}

.call_success .call_success-text {
  font-size: 26rem;
}

.sendwich-icon {
  display: none;
  width: 18rem;
  height: 18rem;
  padding-top: 7rem;
  cursor: pointer;
  position: absolute;
  right: 15rem;
  top: calc(50% - 12.5rem);
}

.sendwich-icon span {
  display: inline-block;
  width: 100%;
  height: 4rem;
  background-color: #000;
  transition: background-color 300ms ease;
  position: relative;
}

.sendwich-icon span:before, .sendwich-icon span:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  height: 4rem;
  background-color: #000;
  left: 0;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  transition: left 300ms ease, -webkit-transform 300ms ease,width 300ms ease, top 300ms ease, bottom 300ms ease;
  transition: left 300ms ease, transform 300ms ease,width 300ms ease, top 300ms ease, bottom 300ms ease;
}

.sendwich-icon span:before {
  top: -7rem;
}

.sendwich-icon span:after {
  bottom: -7rem;
}

.sendwich-icon.active span {
  background-color: transparent;
}

.sendwich-icon.active span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 2rem;
  top: -6rem;
}

.sendwich-icon.active span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 2rem;
  bottom: -7rem;
}


.sendwich-icon.active:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 1rem;
}

.header-bottom {
  position: relative;
  background-color: #1a1a1a;
  z-index: 0;
}

.header-bottom .mbox {
  position: static;
}

.header-bottom .header-bottom-nav > ul {
  display: table;
  width: 100%;
}

.header-bottom .header-bottom-nav > ul > li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.header-bottom .header-bottom-nav > ul > li > a {
  text-decoration: none;
  font-size: 13rem;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 45px;
  line-height: 44px;
  text-transform: uppercase;
  transition: background-color 300ms ease;
}

.header-bottom .header-bottom-nav > ul > li:hover > a {
  background-color: #d10019;
}

.header-bottom .header-bottom-nav .second-level {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  background-color: #fff;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #ededed;
}

.header-bottom .second-level-img {
  float: right;
  max-width: 315rem;
}

.header-bottom .second-level-menu {
  margin-right: 325rem;
}

.header-bottom .second-level-menu-table {
  display: table;
  width: 100%;
}

.header-bottom .second-level-menu-table .second-level-menu-row {
  display: table-row;
}

.header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col {
  display: table-cell;
  text-align: left;
}

.header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col .second-level-title {
  font-size: 12rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col li {
  margin-bottom: 20px;
}

.header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col li:last-child {
  margin-bottom: 0;
}

.header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col li a {
  text-decoration: none;
  font-size: 13rem;
  color: #000;
  transition: color 300ms ease;
}

.header-bottom .second-level-menu-table .second-level-menu-row .second-level-menu-col li a:hover {
  color: #d10019;
}

/* /header */
