

@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

    /* header */

    .header-top>.mbox{padding: 0 10px;}

    /* /header */

}
@media screen and (max-width: 1024px){

    .mbox{width: 100%;max-width: 960px;padding: 0 15px;}
    .main{padding-top: 72px;}

    /* header */

    .header{position: fixed;top: 0;left:0;right:0;}

    .header-telefone{display: none;}
    .header-logo{position: relative;left: 0;top:10px;transform:translate(0, 0);float: left;max-width: 176px;}

    .header-top{padding: 8px 0 4px 0;
        .mbox{padding: 0;}
    }


    .header-basket-main{position: fixed;padding-top:32px;margin-right: 0px;top:0;right: 97px;transition:right 300ms ease;z-index: 1;
        .header-basket-icon{z-index: 2;
            &:before, &:after{content:'';position: absolute;height: 72px;width: 1px;background-color: #f2f2f2;top: -32px;transition:left 300ms ease, right 300ms ease;}
            &:before{left: -23px;}
            &:after{right: -29px;}
            .header-basket-value{width: 15px;height: 15px;left: calc(100% + 3px);bottom: calc(100% + 7px);font-size: 10px;line-height: 14px;background-color:#fff;color:#d10019;transition:color 300ms ease, background-color 300ms ease;}
        }
        .header-basket-form{position: fixed;right:-405px;top: 0;display: block;margin-top: 0;height: 100%;overflow-y:scroll;width: 405px;transition:right 300ms ease, box-shadow 300ms ease;z-index: 1;padding-top:94px;box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0);
            &:after{content:'';display: block;position: absolute;top: 0;right:0;left:0;height: 72px;box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0);position:fixed;z-index:2;transition:box-shadow 300ms ease;background-color: #fff;}
            .header-basket-form-row{padding-left: 24px;padding-right: 17px;margin-left: -20px;margin-right:-20px;}
            .close-form{top: 90px;}
            .header-basket-submit-button{text-align: center;
                button.button{max-width: 265px;height: 70px;}
            }
        }
        &.show{right:363px;
            .header-basket-form{box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.18);
                &:after{box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.18);}
            }
            .header-basket-icon{
                &:before{left: -21px;}
                &:after{right: -30px;}
                .header-basket-value{color:#ffffff;background-color:#d10019;}
            }
            .header-basket-form{right: 0;}
        }
    }

    .sendwich-icon-wrap{display: block;}

    .header-bottom{display: block;background-color:#fff;border-top: 1px solid #ededed;position: fixed;right: -405px;width: 405px;transition:right 300ms ease, box-shadow 300ms;top:0;height: 100%;z-index: 1;box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0);
        &.show{overflow-y:scroll;
            .header-bottom-nav{
                &:after{left:calc(100% - 405px);}
            }
        }
        .mbox{max-width: none;padding: 0;}
        .header-bottom-nav{padding-top: 72px;
            &:after{content:'';position: fixed;border-bottom:1px solid #f5f7fa;top: 0;left: 100%;width: 100%;height:72px;box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0);transition:box-shadow 300ms ease, left 300ms ease;background-color: #fff;}
            >ul, >ul>li, .second-level-menu-row, .second-level-menu-col{display: block!important;width: auto;}
            >ul>li>a{color:#000;font-size: 14px;transition:background-color 300ms ease;background-color:#fff;border-bottom: 1px solid #f5f7fa;text-align: left;padding-left: 25px;font-size: 14px;letter-spacing:1.5px;min-height: 71px;display: table;width: 100%;
                span{display: table-cell;vertical-align: middle;}
                &:hover{background-color: #f5f7fa;}
            }
            .device-second-level{position: fixed;width: 405px;right: -405px;left:auto;top: 0;height: calc(100% - 72px);overflow-y:scroll;display: block;top:72px;padding: 0;transition:right 300ms ease;background-color:#fff;
                &.show{right: 0;}
            }
        }
        .second-level-menu-table{
            .second-level-menu-row{
                .second-level-menu-col{
                    .second-level-title{margin-bottom: 0;padding-left: 25px;min-height: 71px;font-size: 14px;letter-spacing: 1.5px;display: block;border-bottom: 1px solid #f5f7fa;background-color:#fff;transition:background-color 300ms ease;text-decoration: none;text-align: left;display:table;width: 100%;
                        span{display: table-cell;vertical-align: middle;}
                        &:hover{background-color: #f5f7fa;color:#000;}
                    }
                    li{margin-bottom: 0;
                        a{font-size: 14px;min-height: 71px;text-transform: uppercase;color:#000;padding-left: 25px;font-weight: 700;letter-spacing: 1.5px;display: block;border-bottom: 1px solid #f5f7fa;background-color:#fff;transition:background-color 300ms ease;text-decoration: none;text-align: left;display:table;width: 100%;
                            span{display: table-cell;vertical-align: middle;}
                            &:hover{background-color: #f5f7fa;color:#000;}
                        }
                    }
                }
            }
        }



        .second-level-img{display: none;}
        .second-level-menu{margin-right: 0;}

        &.show{right: 0;box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.18);
            .header-bottom-nav{
                &:after{box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.18);}
            }
            .sendwich-icon-wrap{right: 360px;
                &:after{background-color: #f2f2f2;}
            }
        }
    }

    .sendwich-callback-button.show{display: block;position: fixed;}


    /* /header */

}
@media screen and (max-width: 959px){

    /* header */

    .header-basket-main .header-basket-form, .header-bottom, .header-bottom .header-bottom-nav .device-second-level{width: 385px;right: -385px;}
    .header-bottom.show .sendwich-icon-wrap{right: 340px;}
    .header-basket-main.show{right: 344px;}
    .sendwich-callback-button{right: 115px;}
    .header-bottom.show{
        .header-bottom-nav{
            &:after{left:calc(100% - 385px);}
        }
    }

    /* /header */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

    .main{padding-top: 48px;}

    /* header */

    .header-top{min-height: 36px;
        .mbox{min-height: 36px;}
    }

    .header-logo{width: 41.5%;top:8px;}
    .header-basket-main{padding-top: 17px;right: 61px;
        .header-basket-icon{
            &:before, &:after{height: 48px;top:-17px;}
            &:before{left:-14px;}
            &:after{right: -15px;}
            img{max-width: 90%;}
            .header-basket-value{left: calc(100% - 3px);bottom: calc(100% - 2px);}
        }
        .header-basket-form{right:-80px;padding-top: 48px;
            &:after{height: 48px;}
            &:before{display: none;}
            .close-form{top:60px;}
            .form-title{padding-top:12px;margin-bottom: 15px;}
            .header-basket-all-sum{padding-top:2px;margin-bottom: 20px;}
            .header-basket-submit-button{
                button.button{height: 48px;letter-spacing: 1.3px;max-width: 185px;}
            }
        }
    }

    .sendwich-icon-wrap{top: 16px;right: 16px;width: 13px;height: 13px;
        &:after{height: 48px;top:-16px;right:-17px;}
        .sendwich-icon{
            span{height: 2px;
                &:before, &:after{height: 2px;}
            }
        }
        &.active{
            span{
                &:before{top:-6px;}
                &:after{bottom: -3px;}
            }
        }
    }

    .header-bottom{
        .header-bottom-nav{padding-top: 48px;
            &>ul>li>a{font-size: 13px;min-height: 51px;}
            .device-second-level{top: 48px;height: calc(100% - 48px);}
            &:after{height: 48px;}
        }
        .second-level-menu-table{
            .second-level-menu-row{
                .second-level-menu-col{width: 100%;margin-bottom: 0;
                    .second-level-title{margin-bottom: 0;min-height: 51px;font-size: 13px;}
                    li a{font-size: 13px;min-height: 51px;}
                }
            }
        }
        &.show{
            .header-bottom-nav{
                &:after{left: calc(100% - 273px);}
            }
        }
    }

    .header-basket-main .header-basket-form, .header-bottom, .header-bottom .header-bottom-nav .device-second-level{width: 273px;right: -273px;}
    .header-bottom.show .sendwich-icon-wrap{right: 239px;}
    .header-basket-main.show{right: 231px;}
    .sendwich-callback-button{right: 51px;top:14px;font-size: 11px;}



    /* header */

}
@media screen and (max-width: 479px){


}
@media screen and (max-width: 320px){

}