@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
	/* about caffe */
	.title-photo{
		&.about{max-height: 250px;overflow: hidden;}
	}
	.breadcrumbs{
		&.about{display: none;}
	}
	.about-caffe-wrap{
		.mbox{max-width: 934px; width: 100%;
			.about-caffe{
				p{font-size: 13px;word-spacing: -1px;line-height: 1.7;margin-bottom: 40px;
					span{display: inline;word-spacing: -1px;}
				}
				.text-justify{line-height: 1.9;word-spacing: -1px;margin-bottom: 63px;
					span{text-align: center;}
				}
				.differend-font{font-size: 27px;
					span{font-size: 37.5px;}
					&:before{width: 88%;height: 71px;background-size: 90%;background-position: center center;}
				}
			}
		}
		.about-caffe-title{font-size: 21px;padding-top: 45px;padding-bottom: 46px;}
	}
	/* /about caffe */

	/* actions */
	.title-photo{
		&.action{max-height: 250px;overflow: hidden;}
	}
	.breadcrumbs{
		&.action{display: none;}
	}
	.action-content-wrap{margin-bottom: 26px;
		.mbox{ width: 100%; max-width: 920px;
			.action-block{width: calc(50% - 10px);float: left;position: relative;margin-bottom: 17px;
				&.action1{float: left;}
				&.action2{float: right;}
				&.action3{width: 100%;}
				img{max-width: 100%;}
			}
		}
		.action-title{font-size: 16px;padding-top: 53px;padding-bottom: 52px;letter-spacing: 3px;}
	}

	/* /actions */
	/* catalog-nav */

	.catalog-nav-wrap{display: none;}

	/* /catalog-nav */
	.add-to-cart{opacity: 1!important;}

	/*catalog*/
	.title-photo{
		&.catalog{max-height: 250px;overflow: hidden;
			img{max-width: 96%;margin: 0 auto;display: block;}
		}
	}
	.breadcrumbs.catalog{display: none;}
	.catalog-title{font-size: 17px;padding-top: 52px;letter-spacing: 2px;padding-bottom: 55px;}
	.catalog-content-wrap{
		.mbox{padding: 0 27px;}
		.catalog-items > div{margin-bottom: 6px;}
		.catalog-content .catalog-item.large-item{width: calc(50% - 14px);}
		.catalog-content .catalog-item{width: calc(25% - 14px);margin-right: 14px;}
		.catalog-content .catalog-item .catalog-item-text{padding-top: 36px;}
		.catalog-content .catalog-item .catalog-item-text .catalog-item-desc p{font-size: 10px;}
		.catalog-content .catalog-item .catalog-item-text .catalog-item-price{
			p{font-size: 10px;
				b{font-size: 14px;}
			}
		}

		.catalog-item .add-to-cart a{margin-top: 20px;border-radius: 4px;font-size: 9px;padding: 6px 11px 8px;}
		.catalog-content .catalog-item.action-item .catalog-item-text{padding-top: 106px;}
	}
	.catalog-content {margin-bottom: -6px;}

	/* conditer bread*/
	.title-photo{
		&.conditer-bread{max-height: 250px;overflow: hidden;
			img{max-width: 94%;margin: 0 auto;display: block;}
		}
	}
	.breadcrumbs.conditer-bread{display: none;}
	.wrap-text .convert-text{
		p{font-size: 17px;font-weight: 700;padding: 49px 10% 14px 10%;letter-spacing: 3px;}
	}
	.catalog-content-wrap{
		&.conditer-bread-page{
			.catalog-item-title{padding: 52px 0px 56px;font-size: 17px;font-weight: bold;}
			.catalog-items {margin-bottom: 65px;}
			.catalog-content {margin-bottom: -10px;}
		}
	}

	/* conditer stock*/
	.title-photo{
		&.conditer-stock{max-height: 250px;overflow: hidden;
			img{max-width: 94%;margin: 0 auto;display: block;}
		}
	}
	.breadcrumbs.conditer-stock{display: none;}
	.breadcrumbs.conditer-stock + .wrap-text .convert-text .h1 {
	    line-height: 26px;
	    &:last-child{line-height: 24px;padding-top: 21px;}
	}
	.wrap-text .convert-text{
		p{font-size: 17px;font-weight: 700;padding: 49px 10% 14px 10%;letter-spacing: 3px;}
	}
	.catalog-content-wrap{
		&.conditer-stock-page{
			.catalog-item-title{padding: 52px 0px 56px;font-size: 17px;font-weight: bold;}
			.catalog-items {margin-bottom: 65px;}
			.catalog-content {margin-bottom: -10px;}
		}
	}
}
@media screen and (max-width: 992px){
	/* actions */
	.title-photo{
		&.action{max-height: 200px;overflow: hidden;}
	}
	.action-content-wrap{
		.action-title{padding-bottom: 55px}
		.mbox{max-width: 100%;padding: 0 37px;
			.action-block{margin-bottom: 2%;width: calc(50% - 6px);}
		}
	}

	/* /actions */
	/* about caffe */
	.about-caffe-wrap{padding-bottom: 20px;
		.mbox{max-width: 100%;padding: 0px 20px;}
		.about-caffe-title{font-size: 19px;padding-top: 50px;padding-bottom: 45px;}
		.mbox .about-caffe p{margin-bottom: 51px;}
		.mbox .about-caffe .text-justify{margin-bottom: 47px;}
		.mbox .about-caffe .differend-font:before{width: 109%;height: 79px;}
		.mbox .about-caffe .differend-font{margin-bottom: 0;}
	}
	/*catalog*/
	.catalog-content-wrap{
		.catalog-items > div{margin-bottom: 0;}
		.mbox{padding: 0 27px;}
		.catalog-content .catalog-item.large-item{width: 100%;margin: 0 auto;margin-bottom: 29px;}
		.catalog-content .catalog-item{width: 100%;margin: 0 auto;margin-bottom: 29px;}
		.catalog-content .catalog-item .catalog-item-text{padding-top: 23px;}
	}
	/*load more*/
	.load-more-items .load-more-wrap:before{width: 42.3%;left: 8px;top: -66%;}
	.load-more-items .load-more-wrap:after{width: 42.3%;right: 7px;}



	/* conditer bread*/
	.title-photo{
		&.conditer-bread{
			img{max-width: 100%;}
		}
	}
	.wrap-text .convert-text:last-child {margin-bottom: 40px;}
	.wrap-text{
		.convert-text .h1{line-height: 24px;padding: 26px 4% 0px 4%;font-size: 13px;}
		p{font-size: 17px;font-weight: 700;padding: 49px 10% 14px 10%;letter-spacing: 3px;}
	}
	.catalog-content-wrap{
		&.conditer-bread-page{
			.mbox {padding: 0 35px;}
			.catalog-item-title{padding: 52px 0px 56px;font-size: 17px;font-weight: bold;}
			.catalog-items {margin-bottom: 65px;}
			.catalog-content {margin-bottom: -10px;}
		}
	}

	/* conditer stock*/
	.title-photo{
		&.conditer-stock{
			img{max-width: 100%;}
		}
	}
	.catalog-content-wrap{
		&.conditer-stock-page{
			.mbox {padding: 0 35px;}
			.catalog-item-title{padding: 52px 0px 56px;font-size: 17px;font-weight: bold;}
			.catalog-items {margin-bottom: 88px;}
			.catalog-content {margin-bottom: -11px;}
		}
	}
}
@media screen and (max-width: 768px){
	.catalog-content{
		.catalog-item{ width: calc(50% - 1px);    margin-bottom: 20px;margin-right: 0;
			&.large-item{ width: calc(100%);}
			&.action-item{
			.catalog-item-text{
				div{width: 87%}
				.catalog-item-desc{
					p{}
				}
				.catalog-item-price{
					p{}
				}
				.action-text{    bottom: 0;box-sizing: border-box;line-height: 2;position: absolute;padding: 0;
					p{color: #fff; font-family: 'Merel'; font-size: 13px}
				}
			}
			.add-to-cart{bottom: 25%;position: absolute;left: 50%;text-align: center;transform: translateX(-28%);}
		}
		}
    }
    .catalog-content .catalog-item .catalog-item-img .catalog-item-img-wrap .loop img{    display: block; margin: 0 auto;max-width: 97%;}
}


@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
	.catalog-item-text{
		div{width: 100%!important}
	}
}
@media screen and (max-width: 479px){
	/* actions */
	.title-photo{
		&.action{
			img{max-width: none;transform: translateX(-50%);position: relative;left: 50%;max-height: 141px;}
		}
	}
	.action-content-wrap{margin-bottom: 14px;
		.action-title{padding-bottom: 25px;padding-top: 23px;font-size: 14px;}
		.mbox{padding: 0 15px;
			.action-block{margin-bottom: 3%;width: 100%;display: block;float: none;}
		}
	}
	.action-block{width: calc(50% - 10px);}
	/* /actions */

.catalog-content .catalog-item{width: calc(100% - 1px);}
	.load-more-items .load-more-wrap:before,.load-more-items .load-more-wrap:after{width: 40%!important;}
	.catalog-content .catalog-item.action-item .catalog-item-text .action-text{bottom: 85px;}
	.catalog-content .catalog-item.action-item{padding-bottom: 80px!important;}
		.catalog-content .catalog-item.action-item .add-to-cart{bottom: 8%;transform: translateX(-50%);}

	/*about*/
	.title-photo{
		&.about{
			img{max-width: none;transform: translateX(-50%);position: relative;left: 50%;max-height: 141px;}
		}
	}
	.about-caffe-wrap{
		.mbox{padding: 0px 13px;}
		.mbox .about-caffe p{line-height: 1.5;margin-bottom: 15px;}
		.mbox .about-caffe .text-justify{line-height: 1.5;margin-bottom: 18px;}
		.mbox .about-caffe .differend-font{}
		.about-caffe-title{font-size: 14px;padding-top: 20px;padding-bottom: 16px;}
		.differend-font{height: 89px;}
	}

	/*catalog*/
	.title-photo{
		&.catalog{
			img{max-width: none;transform: translateX(-50%);position: relative;left: 50%;max-height: 141px;}
		}
	}
	.catalog-title {font-size: 12px;padding-top: 24px;letter-spacing: 2px;padding-bottom: 27px;}
	.catalog-content-wrap .mbox {padding: 0 10px;}
	.catalog-content-wrap .catalog-content .catalog-item .catalog-item-text {padding-top: 37px;}
	.catalog-item-desc{height: auto !important;}
	.catalog-content-wrap .catalog-content .catalog-item.action-item .catalog-item-text{padding-top: 25px;}
	.catalog-content-wrap .catalog-item .add-to-cart a{margin-top: 10px;}
	.catalog-items {margin-bottom: 115px;}

	/* conditer bread*/
	.title-photo{
		&.conditer-bread{
			img{max-width: none;transform: translateX(-50%);position: relative;left: 50%;max-height: 141px;}
		}
	}
	.wrap-text .convert-text p{padding: 20px 10% 0px 10%;font-size: 15px;}
	.wrap-text .convert-text .h1{line-height: 19px;padding: 18px 2% 0px 2%;font-size: 12px;}
	.wrap-text .convert-text .h1:last-child {padding-top: 13px;line-height: 19px;}
	.wrap-text .convert-text:last-child {margin-bottom: 23px;}
	.catalog-content-wrap.conditer-bread-page .mbox {padding: 0 10px;}
	.catalog-content-wrap.conditer-bread-page .catalog-item-title {padding: 24px 0px 37px;font-size: 15px;letter-spacing: 1px;}

	/* conditer bread*/
	.title-photo{
		&.conditer-stock{
			img{max-width: none;transform: translateX(-50%);position: relative;left: 50%;max-height: 141px;}
		}
	}
	.breadcrumbs.conditer-stock + .wrap-text .convert-text .h1{line-height: 20px;padding: 15px 2% 0px 2%;}
	.breadcrumbs.conditer-stock + .wrap-text .convert-text .h1:last-child {line-height: 20px;padding-top: 15px;}
	.breadcrumbs.conditer-stock + .wrap-text .convert-text:last-child{margin-bottom: 36px;}
	.catalog-content-wrap.conditer-stock-page .mbox {padding: 0 10px;}
	.catalog-content-wrap.conditer-stock-page .catalog-item-title {padding: 34px 0px 35px;font-size: 15px;letter-spacing: 1px;}
}


@media screen and (max-width: 320px){
.catalog-content .catalog-item{width: calc(100% - 1px);}
	.catalog-content .catalog-item.action-item{padding-bottom: 80px!important;}
	.load-more-items .load-more-wrap:before,.load-more-items .load-more-wrap:after{width: 35%!important;}
	.catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-desc p{font-size: 10px;}
	.catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-price p{font-size: 10px;}
	.catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-price p b{font-size: 12px;}
	.catalog-content .catalog-item.action-item .add-to-cart{bottom: 8%;transform: translateX(-50%);}
	.catalog-content .catalog-item.action-item .catalog-item-text .action-text{bottom: 85px;}
}







/* /catalog-content */