@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
	/* about caffe */
	.about-caffe-wrap{
		.mbox{max-width: 888px; width: 100%;
			.about-caffe{
				p{font-size: 13rem;word-spacing: -1rem;line-height: 1.7;margin-bottom: 40px;
					span{display: inline;word-spacing: -1rem;}
				}
				.text-justify{line-height: 1.9;word-spacing: -1rem;margin-bottom: 63px;
					span{text-align: center;}
				}
				.differend-font{font-size: 27rem;
					span{font-size: 37.5rem;}
				}
			}
		}
	}
	/* /about caffe */

		/* actions */

	.action-content-wrap{
		.mbox{ width: 100%; max-width: 888px;
			.action-block{width: calc(50% - 10px);float: left;position: relative;margin-bottom: 20px;
				&.action1{float: left;}
				&.action2{float: right;}
				&.action3{width: 100%;}
				img{max-width: 100%;}
			}
		}
	}

	/* /actions */
	/* catalog-nav */

	.catalog-nav-wrap{display: none;}

	/* /catalog-nav */
	.add-to-cart{opacity: 1!important;}
}
@media screen and (max-width: 992px){
	.about-caffe-wrap{
		.mbox{max-width: 100%;padding: 0px 20px;}
	}

	.action-content-wrap{
		.mbox{max-width: 100%;
			.action-block{margin-bottom: 5%;}
		}
	}
}
@media screen and (max-width: 768px){
	.catalog-content{
		.catalog-item{ width: calc(50% - 1rem);    margin-bottom: 20px;margin-right: 0;
			&.large-item{ width: calc(100%);}
			&.action-item{
			.catalog-item-text{
				div{width: 87%}
				.catalog-item-desc{
					p{}
				}
				.catalog-item-price{
					p{}
				}
				.action-text{    bottom: 0;box-sizing: border-box;line-height: 2;position: absolute;padding: 0;
					p{color: #fff; font-family: 'Merel'; font-size: 13rem}
				}
			}
			.add-to-cart{bottom: 25%;position: absolute;left: 50%;text-align: center;transform: translateX(-28%);}
		}
		}
    }
    .catalog-content .catalog-item .catalog-item-img .catalog-item-img-wrap .loop img{    display: block; margin: 0 auto;max-width: 97%;}
}


@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
	.catalog-item-text{
		div{width: 100%!important}
	}
}
@media screen and (max-width: 479px){
.action-block{width: calc(50% - 10px);}
.catalog-content .catalog-item{width: calc(100% - 1rem);}
	.load-more-items .load-more-wrap:before,.load-more-items .load-more-wrap:after{width: 40%!important;}
	.catalog-content .catalog-item.action-item .catalog-item-text .action-text{bottom: 85px;}
	.catalog-content .catalog-item.action-item{padding-bottom: 80px!important;}
		.catalog-content .catalog-item.action-item .add-to-cart{bottom: 8%;transform: translateX(-50%);}
}


@media screen and (max-width: 320px){
.catalog-content .catalog-item{width: calc(100% - 1rem);}
	.catalog-content .catalog-item.action-item{padding-bottom: 80px!important;}
	.load-more-items .load-more-wrap:before,.load-more-items .load-more-wrap:after{width: 35%!important;}
	.catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-desc p{font-size: 10rem;}
	.catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-price p{font-size: 10rem;}
	.catalog-content .catalog-item.action-item .catalog-item-text .catalog-item-price p b{font-size: 12rem;}
	.catalog-content .catalog-item.action-item .add-to-cart{bottom: 8%;transform: translateX(-50%);}
	.catalog-content .catalog-item.action-item .catalog-item-text .action-text{bottom: 85px;}
}







/* /catalog-content */