@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    /*send*/
         .title-photo{
             &.send{
                .title-photo-align{
                    .bread-phone{ padding: 0 12% 6%;
                         span{font-size: 30.72px;letter-spacing: 5.5px;}
                    }
                }
            }
        }

    /*/send*/
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    /*send*/
        .title-photo{
                &.send{
                    .title-photo-align{
                        .bred-min{    padding: 0 12% 5.5%;
                            span{font-size: 15.36px;}
                        }
                    }
                }
            }
    /*/send*/
}
@media screen and (max-width: 992px){
    /*send*/
        .breadcrumbs{display: none;}
        .title{&.send{display: none;}}
        .title-photo{
            &.send{
                .title-photo-align{
                    .bread-text{
                        span{ font-size: 12px;line-height: 19px;}
                    }
                    .bread-price-wrapp{
                        .bread-price{padding: 12px 0 0;width:60px; height:60px;left: calc(50% - 33px);
                            span{font-size: 15.36px;}
                        }
                    }
                }
            }
        }
        .send-content-wrapp{
            .send-align{
                span{ font-size: 11px;}
                .title{display: block; padding: 22px 0 45px;
                    span{font-size: 16px; font-family:"Merel"; font-weight: 700; padding: 10px 10% 45px; text-transform: uppercase; letter-spacing: 1px;}
                }
                .send-title{    padding-bottom: 75px;
                    span{font-size: 11px;}
                }
                .diag-wrap{    padding-bottom: 70px;
                    .send-item{
                       .item-align{
                            .item-img{ width: 90px; height: 90px; padding-top: 27px;
                                span{font-size: 19.2px;}
                            }
                            .item-text{padding-top: 18px;
                                span{font-size: 12px;}
                            }
                        }
                    }
                }
                .send-text1{padding: 0 7%;
                    span{font-size: 12px;line-height:20px;}
                }
                .send-text2{padding-top: 22px;
                    span{font-size: 46.35px;}
                }
                .send-text3{    padding: 23px 10% 0;
                    span{line-height: 20px;}
                }
                .send-text4{ padding-top: 20px;}
                .send-text5{    padding-top: 24px;}
            }
        }
    /*/send*/


    /*title*/
        .title{
            .title-text{font-size: 16px;  letter-spacing: 3px;}
        }
    /*/title*/


    /*contacts*/
        .title{
            &.contacts{padding: 3% 0 3%;
                .title-text {font-size: 16px;letter-spacing: 3px;}
            }
        }
        .contact-wrapp{
            .contact-align{padding-bottom: 4.5%;
                .contact-item {width: calc(50% - 8px);padding-bottom: 3.5%;
                    span{font-size: 12.5px;}
                    &:nth-child(1),&:nth-child(3){ margin-right: 15px;}
                    .item-align{
                        .item-img{padding-bottom: 6.5%;}
                        .item-name{padding-bottom: 2%;
                            span{letter-spacing: 2.3px;}
                        }
                        .item-addres{padding-bottom: 7.5%;}
                        .item-icons{padding-bottom: 7.8%;
                            .icon-phone{padding: 0 7% 0 4%;
                                i{width:22px;height: 22px;}
                            }
                            .icon-clock{
                                i{width:22px;height: 22px;}
                            }
                        }
                        .item-butt{
                            a{width: 140px;height: 34px;padding-top: 10px;
                                span{font-size: 8.33px;letter-spacing: 2px;}
                            }
                        }
                    }
                }

            }
        }

    /*/contacts*/


    /*special*/
        .special-wrapper{.special-align{.special-title{margin-bottom: 6.3%;span {font-size: 16px;letter-spacing: 1.6px;}}}}
        .special-wrapper .special-align .img-wrapp {    margin-bottom: 52px;}
    /*/special*/


    /*about*/
        .about-us-wrapper{ padding-bottom: 43px;
            .about-us-align{
                .about-title{margin-bottom: 6.3%;span {font-size: 16px;letter-spacing: 1.6px;}}
                .img-wrapp{margin-bottom: 42px;}
                .about-text{span{ font-size: 13px;}}
            }
        }

    /*/about*/



    /*footer*/
        .footer-wrapp-main {background-color: #292929;
            .foot-grad{display:none;}
            .main-block {
                .header-place {display: none;}
                .convert-adress{display: none;}
                .socials-head{max-width: 100%;padding-top: 34px;padding-bottom: 39px;
                    p{font-weight: 400;font-size: 14px;padding-bottom: 37px;letter-spacing: 1.5px;}
                    .soc-fb{width: 170px; margin: 0 auto;}
                }
            }
        }
        .navi-wrapp-main{display: none;}
    /*/footer*/
}
@media screen and (max-width: 800px){
    /*send*/
        .title-photo{
            &.send{    padding-bottom: 7%;
                .title-photo-align{
                    .bread-img{
                        img{}
                    }
                    .bread-text{padding: 7% 2% 5.2%;}
                    .bread-phone{ padding: 0 12% 7.5%;}
                    .bred-min{padding: 0 3% 3.5%;}
                }
            }
        }
        .send-content-wrapp{
            .send-align{
                .diag-wrap{width: 56%; margin: 0 auto;  padding-bottom: 1.8%;
                    .send-item { width: calc(50% - 4px);margin-bottom: 14%;}
                }
                .send-text1{padding: 0 17%;}
                .send-text3{padding: 23px 3% 0;}
            }
        }
    /*/send*/


    /*conditer*/
        .cond-wrapp{
            .cond-align{padding: 6.8% 0 4%;
                .cond-title{padding-bottom: 8%;}
                .cond-block{max-width: 100%;padding-bottom: 8%;padding-left: 10px;
                    .text-block{    width: 60%;}
                    &:nth-child(3) { padding-left: 10px;}
                }
            }
        }
    /*/conditer*/


    /*contacts*/
        .title{
            &.contacts{padding: 3% 0 4.3%;}
        }
        .contact-wrapp{
            .contact-align{    padding-bottom: 4.5%;
                .contact-item {width: 100%;padding-bottom: 1.5%;
                    &:nth-child(1),&:nth-child(3){ margin-right: 0;}
                    .item-align{
                        .item-img{width: 100%;overflow: hidden;height: 188px;
                            img{    width: 94%;}
                        }
                        .item-name{padding-top: 3.8%;padding-bottom: 1%;}
                        .item-addres{padding-bottom: 4.5%;}
                        .item-icons{padding-bottom: 4.7%;
                            .icon-phone{padding: 0 4% 0 0;}
                        }

                    }
                }
            }
        }
    /*/contacts*/
    .about-us, .special{ .mbox{padding: 0 36px;}}
    .special-wrapper{.special-align{.special-title{margin-bottom: 8.2%;}}}
    .about-us{display:none;}
    .special{ padding: 11px 0;}
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
    /*send*/
        .title-photo{
           &.send{padding-bottom: 14%;
               .title-photo-align{
                   .bread-text{padding: 2%;}
                   .bread-phone{padding: 0 12% 1.5%;
                        span{font-size: 24.72px;line-height: 20px}
                    }
                   .bred-min{padding: 0 3% 4.5%;}
               }
           }
       }
       .send-content-wrapp{.send-align{.diag-wrap{width: 100%;}}}
    /*/send*/


    /*conditer*/
        .cond-wrapp{.cond-align{.cond-block{.text-block{width: 100%;}}}}
    /*/conditer*/


    /*special*/
        .special-wrapper{.special-align{.img-wrapp{.img-drop{width:100%;margin-bottom: 3%;}}}}
    /*/special*/
    /* title foto*/
        .title-photo{
            &.about, &.action, &.catalog, &.conditer, &.conditer-bread, &.conditer-stock, &.contacts {overflow: hidden;padding-bottom: 50%;position: relative;
                .title-photo-align{    position: absolute;    top: 50%;    left: 50%;
                    .bread-img{ position: absolute;    transform: translate(-50%,-50%);
                        img{    max-width: none;}
                    }
                }
            }
            &.action, &.catalog, &.conditer, &.conditer-bread, &.conditer-stock, &.contacts{.title-photo-align{.bread-img{img{width: 984px;}}}}
        }
    /*/title foto*/
}
@media screen and (max-width: 479px){
    /*send*/
        .title-photo{
            &.send{
                .title-photo-align{
                    .bread-text{padding: 1% 3% 1%;}
                    .bread-phone{ padding: 0 12% 0.5%;
                        span{font-size: 16px;}
                    }
                }
            }
            &.about, &.action, &.catalog, &.conditer, &.conditer-bread, &.conditer-stock, &.contacts {padding-bottom: 70%;}
            &.action, &.catalog, &.conditer, &.conditer-bread, &.conditer-stock, &.contacts{.title-photo-align{.bread-img{img{width: 711px;}}}}
        }
    /*/send*/
    .title{padding: 0 0 52px;}
    .about-us, .special{ .mbox{padding: 0 15px;}}
    .special-wrapper{
        .special-align{
            .special-title{margin-bottom:37px;
                span{font-size: 12px;letter-spacing: 1.1px;}
            }
            .img-wrapp {    margin-bottom: 22px;}
        }
    }
    .footer-wrapp-main .main-block .socials-head p {font-size: 10px; letter-spacing: 1px;    padding-bottom: 30px;}
    .footer-wrapp-main .main-block .socials-head {    padding-bottom: 60px;padding-top: 26px;}
}
@media screen and (max-width: 320px){

}