@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){
.slick-slide img { max-width: none ;  margin-left: 50%;transform:translate3d(-60%,0,0);-webkit-transform:translate3d(-60%,0,0); }
   .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white h1{ margin-top: 0; font-size: 82px;  padding: 48px 88px 0px 70px; }
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black h1{ margin-top: 0; font-size: 100px; padding: 48px 88px 0px 70px; }
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white h2 {
     font-size: 18px;     padding: 0px 108px 6px 72px;}
     .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black h2 {
     font-size: 18px;     padding: 0px 108px 6px 72px;}
    .header-slider-wrap .header-slider-wrap-main .slick-dots{position: absolute;margin-bottom: 50px;bottom: 17px;    right: 80%; text-align: center;}
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white h3 { padding: 8px 100px 120px 72px;}
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black h3 { padding: 8px 100px 120px 72px;}
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white a .button-fast {margin-left: 74px; }
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black a .button-fast {margin-left: 74px; }
}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
   .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content {
        .content-box-white{
            h1{ margin-top: 0; font-size: 64px;  padding: 48px 88px 0px 70px; }
            h2 { font-size: 14px;     padding: 0px 108px 6px 72px;}
            h3 { padding: 8px 100px 120px 72px;}
            a .button-fast {margin-left: 74px; }
        }
        .content-box-black{
            h1{ margin-top: 0; font-size: 84px; padding: 48px 88px 0px 70px; }
            h2 {font-size: 14px;     padding: 0px 108px 6px 72px;}
            h3 { padding: 8px 100px 120px 72px;}
            a .button-fast {margin-left: 74px; }
        }
    }
    .header-slider-wrap .header-slider-wrap-main .slick-dots{position: absolute;margin-bottom: 50px;bottom: 17px;    right: 80%; text-align: center;}

    .footer-wrapp-main{background-color:#292929;
        .foot-grad{display: none;}
            .main-block{
            .convert-adress{ display: none;}
            .header-place{ display: none;}
            .socials-head{ }
        }
    }
    .navi-wrapp-main{ display: none;}

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
.slick-slide img { max-width: none ;  margin-left: 50%;transform:translate3d(-60%,0,0);-webkit-transform:translate3d(-70%,0,0); }
.header-slider-wrap .header-slider-wrap-main .slick-dots {right: 75%; }

}
@media screen and (max-width: 479px){
    .header-slider-wrap .header-slider-wrap-main .slick-dots {right: 60%; }
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black a .button-fast { margin-left: 30px;}
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white a .button-fast { margin-left: 30px;}

}
@media screen and (max-width: 320px){
    .header-slider-wrap .header-slider-wrap-main .slick-dots {right: 57%; }
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white h1 {     padding: 43px 0px 0px 30px;}
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white h2 {
        padding: 0px 108px 6px 30px;}
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white h3 {
        padding: 0px 108px 6px 30px;}
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-white a .button-fast { margin-left: 30px;}
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black h1 {     padding: 43px 0px 0px 30px;}
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black h2 {
        padding: 0px 108px 6px 30px;}
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black h3 {
        padding: 0px 108px 6px 30px;}
    .header-slider-wrap .header-slider-wrap-main .header-slider-item .conteiner-content .content-box-black a .button-fast { margin-left: 30px;}

}