// slider

.header-slider-wrap{ max-width: 1500px;margin: 0 auto;
    .header-slider-wrap-main{ width: 100%; overflow: hidden;
        .header-slider-item{
            .conteiner-content{ position: relative;
                .counter{font-size: 30px; color:#ffffff; position: absolute; bottom: 56px; right: 110px; font-style: "Merel"; font-weight: 900; }
                .content-box-white{ position: absolute; z-index: 2;
                    h1{ font-size: 100px; font-family: "PFDinTextCondPro", sans-serif; font-weight: 100; color: #2a2a2b;text-transform: uppercase;padding: 87px 87px 0px 104px; margin-bottom: 0px;
                        span{font-weight: 300; color:#d10019; }
                    }
                    h2{font-family: "Merel", sans-serif; font-size: 18px; font-style: normal; color:#737478;     padding: 0px 108px 49px 111px;}
                    h3{font-family: "Merel", sans-serif; font-size: 18px; font-weight: 700; color:#737478; padding: 1px 100px 112px 110px;}
                    a{ text-decoration: none; max-width: 230px; width: 16%;
                        .button-fast{ border: 1px solid #d10019; border-radius: 3px; background-color:#d10019; color: #ffffff; text-transform: uppercase; font-style: "Merel"; font-weight: 700; font-size: 12px; padding: 23px; display: inline-block;     margin-left: 110px; letter-spacing: 4px;}
                    }
                    a:hover, a:focus, a:active {text-decoration: none; border: none; outline: none;}
                    img{width: 1500px; height: 816px; left: 50%;transform:translate3d(-50%,0,0);-webkit-transform:translate3d(-50%,0,0); max-width: none ; }

                }
                .content-box-black{ position: absolute; z-index: 2;
                    h1{ font-size: 150px; font-family: "SavoyeLetPlain", sans-serif; font-weight: normal; color: #7b4537; padding: 37px 87px 0px 104px; margin-bottom: 0px;
                        span{ color:#ffffff; }
                    }
                    h2{font-family: "Merel", sans-serif; font-size: 18px; font-style: normal; color:#ffffff; padding: 0px 108px 49px 111px; margin-top: 0px;}
                    h3{font-family: "Merel", sans-serif; font-size: 18px; font-weight: 700; color:#ffffff; padding: 1px 100px 87px 110px;}
                    a{text-decoration: none; max-width: 230px; width: 16%;
                        .button-fast{ border: 1px solid #ffffff; border-radius: 3px; background-color:none; color: #ffffff; text-transform: uppercase; font-style: "Merel"; font-weight: 700; font-size: 12px; padding: 23px; display: inline-block; margin-left: 110px; letter-spacing: 4px; margin-left: 110px; }
                    }
                    a:hover, a:focus, a:active {text-decoration: none; border: none; outline: none;}
                    img{width: 1500px; height: 816px; left: 50%;transform:translate3d(-50%,0,0);-webkit-transform:translate3d(-50%,0,0); max-width: none;}
                }
            }
        }
        .slick-dots{position: absolute;margin-bottom: 50px;bottom: 17px; right: 183px;text-align: center;
            li{display: inline-block;margin-right: 13px;
                &:last-child{margin-right: 0;}
                button{font-size: 0;border:2px solid #fff;padding:0;margin:0;background-color: transparent;border-radius: 50%;width: 12px;height: 12px;
                    &:focus{outline: none;}
                }
                &:hover, &.slick-active{
                    button{background-color: #fff;}
                }
            }
        }

    }
}
.slick-slide img { max-width: none ;  margin-left: 50%;transform:translate3d(-50%,0,0);-webkit-transform:translate3d(-50%,0,0); }

// end slider

// texter

.blur-wrap{background-color: #f5f8fa; border-style: solid; border-width: 0px 0px 10px; -moz-border-image: url(../images/vawe.png) 10 0 repeat; -webkit-border-image: url(../images/vawe.png) 10 0 repeat;-o-border-image: url(../images/vawe.png) 10 0 repeat; border-image: url(../images/vawe.png) 10 0 fill repeat;}
.wrap-text{ background-color: #f5f8fa; max-width: 1500px; width: 100%; margin: 0 auto;
    .convert-text{ text-align: center;
        p{font-size: 24px; font-family:"Merel"; font-weight: 700; padding: 36px 10% 20px 10%; text-transform: uppercase; letter-spacing: 5px; }
        h1{font-family:"Merel"; font-weight: 400; font-size: 14px; padding: 28px 7% 0px 7%; line-height: 29px; margin-bottom: 0px;
        }
        &:last-child{margin-bottom: 65px;}

    }

}
.conditer-stock{background-color:#f5f8fa; }
.conditer-bread{background-color:#f5f8fa;}

// end texter

// footer
    .footer-wrapp-main{width: 100%; ;background-color:#fbfcfd;margin: 0 auto;}
    .navi-wrapp-main{width: 100%; background-color: #f5f7fa;margin: 0 auto;}
    .main-block{ text-align: center;max-width: 1500px;
        .header-place{  padding-top: 76px; padding-bottom: 20px;  font-family:"Merel", sans-serif; font-weight: 700; text-transform: uppercase; font-size: 18px; letter-spacing: 2px; color: #000000; }
        .convert-adress{  width: 100%; padding-top: 45px; margin-bottom: 0px; text-align: justify;
            .adress{display: inline-block; width: 23%; vertical-align: top;text-transform: uppercase;  font-weight: 500; font-family:"Merel", sans-serif; font-size: 11px; color: #000000; }
        }
        .socials-head{ max-width: 200px; padding-top: 69px; padding-bottom: 57px; margin: 0 auto;
            p{color: #aaacad; text-transform: uppercase;font-family:"Merel", sans-serif; font-weight: 700;font-size: 11px; padding-bottom: 32px; margin-bottom: 0px; letter-spacing: 1px;}
           .soc-fb{
                a{border-radius: 50%;    border: solid 1px #ccc;    width: 32px;    height: 32px;    display: inline-block; vertical-align: top;transition:border 200ms linear;
                    &:nth-child(1){    margin-right: 17px;}
                    &:hover{    border: solid 4px #ccc;}
                }
           }
        }


    }
    nav{ text-align: center; padding-top: 28px; padding-bottom: 27px;
        ul li{display: inline-block; width: 14%; margin-left: -4px;
            &:first-child{margin-left: 0;}
            a{color: #919294; font-family: "Merel", sans-serif; font-weight: 500; font-size: 12px;text-transform: uppercase; text-decoration: none;}
            a:hover, a:active, a:focus, a:visited {text-decoration: none; }

        }
    }
.mbox{ max-width: 1280px; display: block; margin: 0 auto;}
.foot-grad{width: 100%; height: 4px;background: linear-gradient(#e0e0e0, #f6f6f6);-webkit-background: linear-gradient(#e0e0e0, #f6f6f6);-o-background: linear-gradient(#e0e0e0, #f6f6f6);-moz-background: linear-gradient(#e0e0e0, #f6f6f6);}
// end footer