/*ебаут ас))))*/
    .about-us-wrapper{
        .about-us-align{
            .about-title{text-align: center;     margin-bottom: 85px;
                span{font-family: 'Merel';font-weight:700; text-transform:uppercase;font-size:  19rem;letter-spacing: 1px;}
            }
            .img-wrapp{margin-bottom: 60px;}
            .about-text{text-align: center;
                span{font-family: 'Merel';font-weight: 500; font-size: 14rem;}
            }
        }
    }

/*/ебаут ас))))*/
/*special*/
    .special-wrapper{
        .special-align{
            .special-title{text-align: center;     margin-bottom: 85px;
                span{font-family: 'Merel';font-weight:700; text-transform:uppercase;font-size: 19rem;letter-spacing: 1px;}
            }
            .img-wrapp{margin-bottom: 79px;
                .img-drop{display: inline-block;}
                .img-menu{margin-right: 19px;}
                .img-tort{}

            }
        }
    }


/*/special*/

/*conditer -choise*/

        .cond-wrapp{
            .cond-align{
                span{font-family: 'Merel';font-weight:700; text-transform:uppercase;font-size: 24rem;letter-spacing: 5px; color:#303030;}
                .cond-title{width:100%; text-align: center; padding-bottom: 147px;

                }
                .cond-block{display: inline-block;max-width:49%;text-align: center;    padding-left: 15px;
                    a{text-decoration: none;}
                    &:nth-child(3){    padding-left: 41px;}
                    .img-block{padding-bottom: 41px;}
                    .title-block{padding-bottom: 31px;
                        span{font-size: 14rem;letter-spacing: 3px;}
                    }
                    .text-block{width:69%; display: inline-block;
                        span{font-weight:500; text-transform:none;font-size: 14rem;letter-spacing: 1px;line-height: 30px;}
                    }
                }
            }
        }

/*/conditer -choise*/

/*breadcrumps*/
    .breadcrumbs{ width: 1500px;    margin: 0 auto;}
    /*send*/

            .send{padding-bottom: 100px;
                .breadcrumbs-align{position: relative; text-align: center;
                    span{color:#fff; font-size: 24rem;font-family: 'Merel';font-weight: 500;line-height: 30px;}
                    .bread-img{position: absolute; top:0; left:0;
                        img{}
                    }
                    .bread-text{position: relative; padding: 89px 145px 40px;
                        span{ font-size: 18rem;}
                    }
                    .bread-phone{position: relative; padding: 27px 145px 40px;
                        span{font-size: 48rem;font-weight: 700;    letter-spacing: 8.5px;}
                    }
                    .bred-min{position: relative; padding: 59px 145px 52px;
                        span{}
                    }
                    .bread-price-wrapp{position: relative;
                        a{text-decoration: none;}
                        .bread-price{padding: 28px 0 0;background-color: #d10019; border-radius: 50%;width:92px; height:92px; position: absolute;left:calc(50% - 46px);
                            span{font-weight: 700;}
                        }
                    }
                }
            }

    /*/send*/
/*/breadcrumps*/


/*send*/

    .send-content-wrapp{
        .send-align{text-align: center;
            span{font-family: 'Merel';font-weight: 400;font-size: 14rem; color:#2d2d2e;
                b{font-weight: 400;color:#d10019;}
            }
            .send-title{span{font-weight: 700;text-transform: uppercase;}}
            .diag-wrap{
                .send-item{ width: 24%; display: inline-block; text-align: center; vertical-align: top;
                    &:nth-child(1){.item-img{background-color: #ffb2b6;}}
                    &:nth-child(2){.item-img{background-color: #a2e8db;}}
                    &:nth-child(3){.item-img{background-color: #cce5ff;}}
                    &:nth-child(4){.item-img{background-color: #cfccff;}}
                    .item-align{
                        .item-img{border-radius: 50%; width: 141px; height: 141px; display: inline-block;
                            span{font-weight: 900;font-size: 30rem;color:#fff;text-transform: uppercase;}
                        }
                        .item-text{span{font-size: 18rem;color:#2f3030;}}
                    }
                }
            }
            .send-text1{span{font-size: 18rem;}}
            .send-text2{span{font-weight: 700;font-size: 72.35rem;color: #ccc;}}
            .send-text3{span{}}
            .send-text4{span{}}
            .send-text5{span{}}
        }
    }

/*/send*/