/* about caffe */

.about-caffe-wrap{
	p{font-size: 14rem; font-family: Merel;margin-bottom: 64px;text-align: justify;text-align-last: center;word-spacing: -4rem;    line-height: 1.6;
		span{text-align: center;width: 100%;display: inline-block;    word-spacing: 0rem;}
	}
	.text-justify{text-align: justify;text-align-last: center;word-spacing: -1px;line-height: 1.75;margin-bottom: 147px;
		span{text-align: center;width: 100%;display: inline-block;}
	}
	.differend-font{font-size: 52rem;font-family: 'SavoyeLetPlain', sans-serif;text-align: center;color: #675034;
		span{font-size: 72rem;font-family: 'SavoyeLetPlain', sans-serif;}
	}
}


/* /about caffe */

/* actions */

.action-content-wrap{
	.action-block{width: calc(50% - 10px);float: left;position: relative;margin-bottom: 20px;
		&.action1{float: left;}
		&.action2{float: right;}
		&.action3{width: 100%;}
		img{max-width: 100%;}
	}
}

/* /actions */

/* catalog-nav */

.catalog-nav-wrap{
	ul{list-style-type: none; padding: 0; text-align: center; 
		li{padding: 0px 28px;display: inline-block;margin-bottom: 15px;
			a{font-family: 'Merel'; font-size: 12rem; color: #303030; text-decoration: none; text-transform:uppercase; transition: color 500ms ease; -webkit-transition: color 500ms ease; -moz-transition: color 500ms ease; -ms-transition: color 500ms ease;    letter-spacing: 2rem;
				&:hover{color: #d10019;}
			}
		}
	}
}

/* /catalog-nav */
