/* about caffe */
.about-caffe-wrap{padding-bottom: 139px;
	.mbox{padding: 0 25px;}
	p{font-size: 14px; font-family: Merel;margin-bottom: 64px;text-align: justify;text-align-last: center;word-spacing: -4px;    line-height: 1.6;
		span{text-align: center;width: 100%;display: inline-block;    word-spacing: 0px;}
	}
	.text-justify{text-align: justify;text-align-last: center;word-spacing: -1px;line-height: 1.75;margin-bottom: 156px;
		span{text-align: center;width: 100%;display: inline-block;}
	}
	.differend-font{font-size: 1px;font-family: 'SavoyeLetPlain', sans-serif;text-align: center;color: transparent;position: relative;height: 116px;
		&:before{display: block;content: ''; position: absolute; background-image: url(../images/testimg.png); background-repeat: no-repeat;top: 0px; width: 100%;height: 116px; max-width: 1112px;left: 50%;transform: translateX(-50%);    background-size: 100%;}
	}
	.about-caffe-title{text-align: center;color: #303030;font-size: 24px;text-transform: uppercase;font-weight: bold;letter-spacing: 3px;padding-top: 38px;padding-bottom: 70px;}
}


/* /about caffe */

/* actions */

.action-content-wrap{margin-bottom: 58px;
	.mbox{padding: 0 25px;}
	.action-title{text-align: center;color: #303030;font-size: 24px;text-transform: uppercase;font-weight: bold;letter-spacing: 5px;padding-top: 46px;padding-bottom: 76px;}
	.action-block{width: calc(50% - 10px);float: left;position: relative;margin-bottom: 20px;
		&.action1{float: left;}
		&.action2{float: right;}
		&.action3{width: 100%;}
		img{max-width: 100%;}
	}
}


/* /actions */

/* catalog-nav */

.catalog-nav-wrap{margin-bottom: 50px;
	ul{list-style-type: none; padding: 0; text-align: center;
		li{padding: 0px 28px;display: inline-block;margin-bottom: 14px;
			a{font-family: 'Merel'; font-size: 12px; color: #303030; text-decoration: none; text-transform:uppercase; transition: color 500ms ease; -webkit-transition: color 500ms ease; -moz-transition: color 500ms ease; -ms-transition: color 500ms ease;    letter-spacing: 2px;
				&:hover{color: #d10019;}
			}
		}
	}
}

/* /catalog-nav */


/* catalog-content */
.catalog-title{font-size: 30px;text-align: center;text-transform: uppercase;padding-top: 30px;font-weight: bold;letter-spacing: 3px;padding-bottom: 55px;}
.catalog-content{margin-bottom: 20px;
	.catalog-item{display: inline-block; width: calc(25% - 16px);margin-right: 20px;vertical-align: top;position: relative;overflow: hidden;
		.catalog-item-img{
			.catalog-item-img-wrap{position: relative;
				.loop{display: block;
					&:hover {
						&:before{background-image: url(../images/loop.png);background-repeat: no-repeat;background-position: center center;display: block;position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);width: 49px;height: 48px;content: '';}
					}
					img{max-width: 100%;}
				}
			}
			.red_circle{position: absolute;left: 50%; transform:translateX(-50%); -ms-transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%);}
		}
		.catalog-item-text{padding-top: 54px;width: 100%;text-align: center;margin-bottom: 10px;
			.catalog-item-desc{
				p{font-size: 14px; font-family: 'Merel'; font-weight: 700; text-align: center;text-transform: uppercase;letter-spacing: 1px;}
			}
			.catalog-item-price{padding-top: 10px;
				p{font-size: 14px; font-family: 'Merel';text-align: center;
					b{font-size: 24px; font-weight: 700;}
					span{text-transform: lowercase;}
				}
			}
		}
		.add-to-cart{ text-align: center; width: 100%;letter-spacing: 2px; opacity: 0; transition: opacity 300ms ease; -webkit-transition: opacity 300ms ease; -moz-transition: opacity 300ms ease; -ms-transition: opacity 300ms ease;
			a{background-color: #D10019; text-transform: uppercase; font-family: 'Merel';font-weight: 700;font-size: 10px;color: #fff;text-decoration: none;padding: 13px 28px;border-radius: 5px;display: inline-block;}
		}
		&.large-item{ width: calc(50% - 10px);}
		&.action-item{position: relative;background-color: #aab2d0;
			.catalog-item-sub-img{position: absolute;top: 4%;right: 6%;z-index: 1;pointer-events: none;
				img{max-width: none;}
			}
			.add-to-cart{z-index: 2;}
			.catalog-item-img{width: 50%;position: relative;z-index: 2;}
			.catalog-item-img .catalog-item-img-wrap .loop:hover:before{left:50%;}
			.catalog-item-text{right: 1%;width: 50%;height: 89%;position: absolute;top: 49%;transform: translate(0%, -50%);padding-top: 152px;overflow: hidden;

				.catalog-item-desc{margin-bottom: 10px;
					p{color: #fff;}
				}
				.catalog-item-price{
					p{color: #fff;}
				}
				.action-text{bottom: 7px;box-sizing: border-box;line-height: 2;position: absolute;padding: 0;
					p{color: #fff; font-family: 'Merel'; font-size: 13px}
				}
			}
			.add-to-cart{bottom: 25%;position: absolute;left: 50%;text-align: center;transform: translateX(-25%);}
		}
		&:hover{
			.add-to-cart{opacity: 1;}
		}
	}
}

.load-more-items{
	&:after{clear: both;content: '';display: block;}
	.load-more-wrap{width: 100%;height: 70px;text-align: center;position: relative;
		&:before{width: 50%;display: block;content: '';height: 2px;position: absolute;left: 0;top: -64%;background-color: #ccc;}
		&:after{width: 50%;display: block;content: '';height: 2px;position: absolute;right: 0;top: -66%;background-color: #ccc;}
		.load-more{display: inline-block;
			a{font-size: 12px;	font-family: 'Merel'; font-weight: 700; color: #ccc; letter-spacing: 1px;width: 65px;position: relative;text-decoration: none;text-transform: uppercase;
				&:before{background-image: url(../images/loadmore.png);background-repeat: no-repeat;width: 65px;height: 65px; display: block;content: '';position: absolute;top: -79px;left: 50%;transform: translateX(-50%);background-color: white;z-index: 10;padding: 0 10px 0 10px;background-position: center center;}
			}
		}
	}
}


.catalog-items{margin-bottom: 109px;
	&>div{margin-bottom: 44px;}
	.row3{
		.catalog-item{
			&:nth-child(3n){margin-right: 0px!important}
		}
	}
	.row4{
		.catalog-item{
			&:nth-child(4n){margin-right: 0px!important}
		}
	}
}

.catalog-content-wrap + .special{margin-bottom: 30px;}


/* /catalog-content */


/* catalog bread*/
.title-photo{
	&.conditer-bread{max-height: 353px;overflow: hidden;}
}
.catalog-content-wrap{
	&.conditer-bread-page{
		.catalog-content {margin-bottom: 28px;}
		.catalog-items {margin-bottom: 59px;}
	}
}

/* catalog stock*/
.catalog-content-wrap {
	&.conditer-stock-page{
		.catalog-item-title{padding: 70px 0px 86px;font-weight: bold;letter-spacing: 4.2px;}
		.catalog-items{margin-bottom: 102px;}
		.catalog-items > div{margin-bottom: 42px;}
	}
}
.catalog-content-wrap.conditer-stock-page + .special{margin-bottom: 11px;}